<template name="loading">
  <div class="ui segment" style="padding-top: 100px; padding-bottom: 100px;">
    <div class="ui active inverted dimmer">
      <div class="ui massive text loader">Loading</div>
    </div>
  </div>
</template>
