<template name="about">
  <div class="ui top attached feature segment">
    <h1 class="ui dividing header">Asynchronous Blended Mastery Learning with Informa</h1>
    <p>
      Informa supports a form of <a href="http://en.wikipedia.org/wiki/Mastery_learning">mastery learning</a>.
      Specifically, it supports <strong>asynchronous</strong> mastery learning,
      where students progress through the material at their own pace and on their own path.
      Informa is a system for <strong>blended</strong> learning,
      combining in-person classroom sessions with online and offline learning out of the classroom.
    </p>
    <h3 class="ui header">Credits</h3>
    <p>
      Informa has been developed at the <a href="http://www.inf.usi.ch/">Faculty of Informatics</a>
      of the University of Lugano in Switzerland,
      a school known for its innovative teaching approaches.
    </p>
    <p>
      <img class="ui rounded image" src="/images/uploads/info1010.jpg">
    </p>
    <p>
      To learn more about Informa, contact <a href="http://www.inf.usi.ch/faculty/hauswirth">Matthias Hauswirth</a>.
    </p>
  </div>
</template>
