<template name="courses">
	<div class="ui feature segment">
		<h1 class="ui dividing header">
			<i class="student icon"></i>
			<div class="content">
				Courses
				<div class="sub header">Courses offered in Informa.</div>
			</div>
		</h1>
		<div class="ui relaxed divided items">
			{{#each courses}}
				{{>courseItem}}
			{{/each}}
		</div>
	</div>
</template>

<template name="coursesSidebar">
	<p>
		<img class="ui centered image" src="/images/InformaBrain.png">
	</p>
	<p>
		<strong>Informa</strong> enables asynchronous blended mastery learning.
	</p>
	<p>
		The <a href="http://www.inf.usi.ch/">Faculty of Informatics</a> of the University of Lugano offers the courses on the right on Informa.
	</p>
	<p>
		This list only shows courses that use Informa.
		You find other courses on
		<A href="https://www2.icorsi.ch/">iCorsi2</A>.
	</p>
</template>


<template name="courseSidebar">
	<h3 class="ui dividing header">
		Filter
		<div class="sub header">Filter topics</div>
	</h3>
	<h4 class="ui header">Themes</h4>
	<div class="ui mini icon buttons">
		{{#each themes}}
			<div class="ui {{color}} button" data-title="{{title}}" data-content="{{description}}"><i class="{{icon}} icon"></i></div>
		{{/each}}
	</div>
	<h4 class="ui header">Grades</h4>
	<div class="ui selection dropdown">
		<i class="dropdown icon"></i>
		<div class="text">Desired grade</div>
		<div class="menu">
			<div class="item">2</div>
			<div class="item">3</div>
			<div class="item">4</div>
			<div class="item">5</div>
			<div class="item">6</div>
			<div class="item">7</div>
			<div class="item">8</div>
			<div class="item">9</div>
			<div class="item">10</div>
		</div>
	</div>
</template>


<template name="courseHeader">
	<h1 class="ui dividing header">
		<i class="student icon"></i>
		<div class="content">
			{{course.title}}
			<div class="sub header">{{course.description}}</div>
		</div>
	</h1>
</template>


<template name="courseShowSidebar">
	<h4 class="ui dividing header">
		{{abbreviation}} {{instance}}
	</h4>
	<div class="ui secondary vertical menu">
		<a class="active teal item" href="/course/{{_id}}">
    		Themes
		</a>
		<a class="teal item" href="/course/{{_id}}/topics">
    		Topics
		</a>
	</div>
</template>


<template name="topics">
	<h3 class="ui dividing header">
		Topics
		<div class="sub header">Theses are the topics you will achieve mastery in.</div>
	</h3>
	<div id="topic-card-container" class="ui two cards">
		{{#each topics}}
			{{>topicCard}}
		{{/each}}
	</div>
	{{#each topics}}
	{{else}}
		<p>No topics yet.</p>
	{{/each}}
</template>


<template name="topicTable">
	<h3 class="ui dividing header">
		Topics
		<div class="sub header">Theses are the topics you will achieve mastery in.</div>
	</h3>
	<table class="ui table">
		<thead>
			<tr>
				<th>Topic</th>
				<th>Status</th>
				<th>Grade</th>
			</tr>
		</thead>
		<tbody>
			{{#each topics}}
				<tr>
					<td>
						<i class="right floated circular inverted {{lookupThemeColor themeId}} {{lookupThemeIcon themeId}} icon"></i>
						<a href="/topic/{{_id}}">{{title}}</a>
					</td>
					<td>
						{{getTopicStatusText _id}}
					</td>
					<td class="right aligned collapsing">
						{{masteryRequiredForGrade}}+
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
	{{#each topics}}
	{{else}}
		<p>No topics yet.</p>
	{{/each}}
</template>
