#testviz {
  .axis path,
  .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }

  .axis text {
    font-family: sans-serif;
    font-size: 11px;
    color: "#ff0000";
  }

  circle:hover {
		fill: orange;
    r: 10;
  }
}
