<template name="hrm">
	<div class="ui top attached feature segment">
		<h1 class="ui header">joint.js Test</h1>
		{{>jointJsTest}}
		<h1 class="ui header">D3.js Test</h1>
		<svg id="testviz"></svg>
		<p>
			<div id="add-point" class="ui button">Add Point</div>
			<div id="remove-point" class="ui button">Remove Point</div>
			<div id="randomize-points" class="ui button">Randomize Points</div>
		</p>
	</div>
	<div class="ui attached feature segment">
		<h1 class="ui header">Debug Information</h1>
		<table class="ui table">
			<thead>
				<tr>
					<th>Info</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>ROOT_URL / Meteor.absoluteUrl()</td>
					<td>"{{Meteor.absoluteUrl}}"</td>
				</tr>
				<tr>
					<td>window.location.href</td>
					<td>{{location}}</td>
				</tr>
				<tr>
					<td>window.location.protocol</td>
					<td>{{protocol}}</td>
				</tr>
				<tr>
					<td>secure?</td>
					<td>{{secure}}</td>
				</tr>
				<tr>
					<td>Gravatar image URL</td>
					<td>{{gravatarUrl}}</td>
				</tr>
				<tr>
					<td>Gravatar image</td>
					<td><img src="{{gravatarUrl}}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="ui attached feature segment">
		{{#with getHrm1}}
			<h1 class="ui header">Modal Dialog Test</h1>
			<p>
				Name: {{name}} Age: {{age}}
			</p>
			<p>
				<div class="hrm-set-name-to-anna-button ui button">Set Name to Anna</div>
				<div class="hrm-set-name-to-luca-button ui button">Set Name to Luca</div>
				<div class="hrm-show-modal-button ui button">Show Modal</div>
			</p>
			{{>hrmModal}}
		{{/with}}
	</div>
</template>


<template name="hrmModal">
	<div class="hrm-modal ui modal">
		{{>hrmModalInner}}
	</div>
</template>


<template name="hrmModalInner">
	<i class="close icon"></i>
	<div class="header">
		HRM Modal
	</div>
	<div class="content">
		<div class="image">
			<i class="massive info icon"></i>
		</div>
		<div class="description">
			<div class="ui header">A form with some contents</div>

			<form class="ui form">
				<div class="field">
					<label>A field to show the Name, to be initialized at show and read onApprove:</label>
					<input class="hrm-field" type="text" placeholder="Enter something" value="{{name}}">
				</div>
				<div class="field">
					<label>Some button</label>
					<div class="hrm-toggle-button ui toggle button">Toggle me</div>
				</div>
			</form>

		</div>
	</div>
	<div class="actions">
		<div class="ui cancel button">Cancel</div>
		<div class="ui red ok button"><i class="remove icon"></i> Ok</div>
	</div>
</template>
