<template name="nextMasteryCheckTopicsPage">
	<div class="ui top attached feature segment">
		{{>courseHeader}}
		<div class="ui grid">
			<div class="four wide column">
				Students: <strong>{{getNumberOfStudentsToBeCheckedForNextMasteryCheck _id}}</strong>
			</div>
			<div class="four wide column">
				Topic checks: <strong>{{getNumberOfTopicsToBeCheckedForNextMasteryCheck _id}}</strong>
			</div>
			<div class="eight wide column">
				Estimated total duration: <strong>{{getEstimatedTotalDuration _id 5 4}} minutes</strong><br>(assuming 5 minutes per topic, 4 testers)
			</div>
		</div>
		<h3 class="ui dividing header">
			<div class="content">
				Topics in Next Mastery Check
				<div class="sub header">These are the topics students scheduled for the next mastery check.</div>
			</div>
		</h3>
		{{#if currentUser}}
			{{#if isOnTeachingTeam _id}}
				<p>
					The teaching team may want to prepare for the next mastery check by looking at these topics.
				</p>
				<table class="ui table">
					<thead>
						<tr>
							<th>Topic</th>
							<th>Pass</th>
							<th>Fail</th>
							<th>Question</th>
							<th class="collapsing"># Students</th>
						</tr>
					</thead>
					<tbody>
						{{#each getTopicsSelectedForNextMasteryCheck _id}}
							<tr>
								<td>
									{{#with getTheme themeId}}
										<i class="circular inverted {{color}} {{icon}} icon"></i>
									{{/with}}
									<a href="{{pathFor "topicPage" courseId=courseId topicId=_id}}">{{title}}</a>
								</td>
								<td class="collapsing">
									<i class="green check square icon"></i> {{countAllStudentsPassedTopicChecksForTopic _id}}
								</td>
								<td class="collapsing">
									<i class="red minus circle icon"></i> {{countAllStudentsFailedTopicChecksForTopic _id}}
								</td>
								<td class="collapsing">
									<i class="blue help circle icon"></i> {{countAllStudentsAnnotationsForTopic _id}}
								</td>
								<td class="right aligned">
									{{getNumberOfStudentsWhoSelectedThisTopic _id}}
								</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			{{else}}
				<p>You need to be on the teaching team to see this.</p>
			{{/if}}
		{{else}}
			<p>You need to be signed in and registered for this course to see this.</p>
		{{/if}}
	</div>
</template>
