<template name="courseQuestionsPage">
	<div class="ui top attached feature segment">
		{{>courseHeader}}
		<h3 class="ui dividing header">
			<div class="content">
				My Questions
				<!--<div class="sub header">Your questions.</div>-->
			</div>
		</h3>
		{{#if isRegisteredAsAnything _id}}
			{{#each getOwnAnnotationsForCourse course._id}}
				<div class="ui basic segment">
					<div class="ui grid">
						<div class="one wide column">
							{{#if contentItemId}}
								{{#with getContentItem contentItemId}}
									{{#if containerIs _id "Labs"}}
										<i class="right floated circular lab icon"></i>
									{{/if}}
								{{/with}}
							{{else}}
								{{#if sectionId}}
									<i class="right floated circular inverted book icon"></i>
								{{else}}
									{{#with getSkill skillId}}
										{{#with getTopic topicId}}
											{{#with getTheme themeId}}
												<i class="right floated circular inverted {{color}} {{icon}} icon"></i>
											{{/with}}
										{{/with}}
									{{/with}}
								{{/if}}
							{{/if}}
						</div>
						<div class="seven wide column">
							{{#if contentItemId}}
								{{#with getContentItem contentItemId}}
									{{#if containerIs _id "Labs"}}
										{{#with getLab containerId}}
											<a class="header" href="/course/{{course._id}}/lab/{{_id}}#item_{{../_id}}">
												<strong>{{title}}</strong><br>Item {{../index}}
											</a>
										{{/with}}
									{{/if}}
								{{/with}}
							{{else}}
								{{#if sectionId}}
									{{#with getSection sectionId}}
										{{#with getChapter chapterId}}
											<a class="header" href="/course/{{courseId}}/book/{{bookId}}/chapter/{{_id}}#section_{{../_id}}">
												<strong>{{title}}</strong><br>{{../title}}
											</a>
										{{/with}}
									{{/with}}
								{{else}}
									{{#with getSkill skillId}}
										{{#with getTopic topicId}}
											<a class="header" href="/course/{{courseId}}/topic/{{_id}}#skill_{{../_id}}">
												<strong>{{title}}</strong><br>{{../title}}
											</a>
										{{/with}}
									{{/with}}
								{{/if}}
							{{/if}}
							<div class="meta">
								{{formatDateFromNow modificationDate}}
							</div>
						</div>
						<div class="eight wide column">
							<div class="ui blue inverted segment">
								{{#markdownFix}}{{text}}{{/markdownFix}}
							</div>
						</div>
					</div>
				</div>
			{{else}}
			<p>
				No questions at this time.
			</p>
			<div class="ui message">
				To ask a question, click one of the&nbsp;
				<div class="ui circular compact icon basic button"><i class="help icon"></i></div>
				buttons in the margin of a page (e.g., in the various
				<a href="/course/{{_id}}/labs">lab pages</a>).
			</div>
			{{/each}}
		{{/if}}
	</div>
</template>
