<!-- placed in a separate template so we can get notified whenever it is rendered, and give it focus -->
<template name="annotationBodyInput">
	<form class="ui form">
		<div class="field">
			<input class="body-field" type="text" placeholder="tag" value="{{text}}">
		</div>
	</form>
</template>
