<template name="annotationButton">
	<div class="annotation-button-dropdown ui icon right pointing dropdown">
		<i class="remove bookmark icon"></i>
		<div class="menu">
			<div class="header">Add Annotation</div>
			<div class="add-annotation-item item" data-kind="question"><i class="help icon"></i> Public Question</div>
			<div class="add-annotation-item item" data-kind="note"><i class="write icon"></i> Personal Note</div>
			<div class="add-annotation-item item" data-kind="bookmark"><i class="bookmark icon"></i> Personal Bookmark</div>
			<div class="add-annotation-item item" data-kind="tag"><i class="tag icon"></i> Personal Tag</div>
		</div>
	</div>
</template>
