<template name="annotationTopicOrLabCell">
	{{#if contentItemId}}
		{{#with getContentItem contentItemId}}
			{{#if containerIs _id "Labs"}}
				<i class="right floated circular lab icon"></i>
				{{#with getLab containerId}}
					<a href="{{pathFor 'labPage' courseId=courseId labId=_id}}">{{title}}</a>
				{{/with}}
			{{/if}}
		{{/with}}
	{{else}}
		{{#if sectionId}}
			<i class="right floated circular book icon"></i>
			{{#with getSection sectionId}}
				{{#with getChapter chapterId}}
					{{#with getBook bookId}}
						<a href="/course/{{courseId}}/book/{{_id}}/chapter/{{../_id}}/section/{{../../_id}}">{{abbreviation}}, Section {{../../number}}</a>
					{{/with}}
				{{/with}}
			{{/with}}
		{{else}}
			{{#with getSkill skillId}}
				{{#with getTopic topicId}}
					{{#with getTheme themeId}}
						<i class="right floated circular inverted {{color}} {{icon}} icon"></i>
						<a href="{{pathFor 'topicPage' courseId=courseId topicId=../_id}}">{{../title}}</a>
					{{/with}}
				{{/with}}
			{{/with}}
		{{/if}}
	{{/if}}
</template>
