<template name="communityQuestionsMenu">
	<div class="ui secondary  menu">
		<a class="{{isActiveRoute "communityOpenQuestionsPage"}} item" href="{{pathFor 'communityOpenQuestionsPage' courseId=courseId}}">
			<i class="radio icon"></i> Open Questions
		</a>
    <a class="{{isActiveRoute "courseQuestionListPage"}} item" href="{{pathFor 'courseQuestionListPage' courseId=courseId}}">
			<i class="check circle outline icon"></i> All Questions
		</a>
	</div>
</template>
