<template name="questionPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="black inverted circled help icon"></i>
			<div class="content">
				Question
				{{#if question.contentItemId}}
					{{#with getContentItem question.contentItemId}}
						{{#if containerIs _id "Labs"}}
							{{#with getLab containerId}}
								about "<strong>{{title}}</strong>" lab
							{{/with}}
						{{/if}}
					{{/with}}
				{{else}}
					{{#if question.sectionId}}
						{{#with getSection question.sectionId}}
							{{#with getChapter chapterId}}
								{{#with getBook bookId}}
									about {{abbreviation}}, Section {{../../number}}
								{{/with}}
							{{/with}}
						{{/with}}
					{{else}}
						{{#with getSkill question.skillId}}
							{{#with getTopic topicId}}
									about "<strong>{{title}}</strong>" topic
							{{/with}}
						{{/with}}
					{{/if}}
				{{/if}}
				<div class="sub header">
					Asked by
					{{#with getUser question.userId}}
						{{profile.firstName}}
					{{/with}}
					{{formatDateFromNow question.creationDate}}
				</div>
			</div>
		</h1>

		<h3 class="ui dividing header">Context</h3>
		<div class="ui grid">
			<div class="three wide column">
			</div>
			<div class="one wide column">
				{{#if question.contentItemId}}
					{{#with getContentItem question.contentItemId}}
						{{#if containerIs _id "Labs"}}
							<i class="right floated circular lab icon"></i>
						{{/if}}
					{{/with}}
				{{else}}
					{{#if question.sectionId}}
						<i class="right floated circular book icon"></i>
					{{else}}
						{{#with getSkill question.skillId}}
							{{#with getTopic topicId}}
								{{#with getTheme themeId}}
									<i class="right floated circular inverted {{color}} {{icon}} icon"></i>
								{{/with}}
							{{/with}}
						{{/with}}
					{{/if}}
				{{/if}}
			</div>
			<div class="twelve wide column">
				{{#if question.contentItemId}}
					{{#with getContentItem question.contentItemId}}
						{{#if containerIs _id "Labs"}}
							{{#with getLab containerId}}
								<a class="header" href="/course/{{course._id}}/lab/{{_id}}#item_{{../_id}}">
									{{title}}<br><strong>Item {{../index}}</strong>
								</a>
							{{/with}}
						{{/if}}
					{{/with}}
				{{else}}
					{{#if question.sectionId}}
						{{#with getSection question.sectionId}}
							{{#with getChapter chapterId}}
								{{#with getBook bookId}}
									{{abbreviation}}, Section {{../../number}}<br>
								{{/with}}
								<a class="header" href="/course/{{courseId}}/book/{{bookId}}/chapter/{{_id}}/section/{{../_id}}">
									{{title}}<br><strong>{{../title}}</strong>
								</a>
							{{/with}}
						{{/with}}
					{{else}}
						{{#with getSkill question.skillId}}
							{{#with getTopic topicId}}
								<a class="header" href="/course/{{courseId}}/topic/{{_id}}#skill_{{../_id}}">
									{{title}}<br><strong>{{../title}}</strong>
								</a>
							{{/with}}
							<br>
							{{description}}
						{{/with}}
					{{/if}}
				{{/if}}
			</div>
			<div class="three wide column">
			</div>
			<div class="thirteen wide column">
				{{#if question.contentItemId}}
					{{#with getContentItem question.contentItemId}}
						{{#if containerIs _id "Labs"}}
							{{>labItemContents}}
						{{/if}}
					{{/with}}
				{{else}}
					{{#if question.sectionId}}
						{{title}}
					{{/if}}
				{{/if}}
			</div>
		</div>

		{{#unless question.removed}}
			<h3 class="ui dividing header" id="question">Question</h3>
			<div class="ui grid">
				<div class="center aligned three wide column">
					<div class="ui two column grid">
						<div class="left aligned column">
							<span style="font-size: 0.8em; color: #b0b0b0">
								Score
							</span>
						</div>
						<div class="right aligned column">
							<span style="font-size: 2em">
								{{question.score}}
							</span>
						</div>
					</div>
					<div class="center aligned column">
						{{#unless isMe question.userId}}
							<div class="3 fluid ui buttons">
								<div class="ui compact {{#if haveUpvoted question}}green{{else}}{{/if}} icon button upvote-question-button">
									+1
								</div>
								<div class="ui compact {{#if haveNotVoted question}}yellow{{else}}{{/if}} icon button clearvote-question-button">
									0
								</div>
								<div class="ui compact {{#if haveDownvoted question}}red{{else}}{{/if}} icon button downvote-question-button">
									-1
								</div>
							</div>
						{{/unless}}
					</div>
				</div>
				<div class="thirteen wide column">
					<div class="ui blue inverted segment">
						{{#if isEditing}}
							<form class="ui form">
								<div class="field">
									{{>markdownLabel}}
									<textarea class="initially-focused question-text-field">{{question.text}}</textarea>
								</div>
							</form>
						{{else}}
							{{#markdownFix}}{{question.text}}{{/markdownFix}}
						{{/if}}
					</div>
					<div class="ui three column grid">
						<div class="column">
							{{#with getUser question.userId}}
								{{> userStatusLabel user=this courseId=../question.courseId}}
							{{/with}}
						</div>
						<div class="column">
							Created <strong>{{formatDateFromNow question.creationDate}}</strong>
						</div>
						<div class="column">
							Edited <strong>{{formatDateFromNow question.modificationDate}}</strong>
						</div>
					</div>
					<div class="ui three column grid">
						<div class="left aligned column">
							{{#if isMe question.userId}}
								<div class="edit-question-button ui primary button">
									{{#if isEditing}}
										Save Question
									{{else}}
										Edit Question
									{{/if}}
								</div>
							{{/if}}
						</div>
						<div class="center aligned column">
							{{#if question.contentItemId}}
								{{#with getContentItem question.contentItemId}}
									{{#if containerIs _id "Labs"}}
										{{#with getLab containerId}}
											<a class="ui button" href="/course/{{course._id}}/lab/{{_id}}#item_{{../_id}}">
												See in Lab
											</a>
										{{/with}}
									{{/if}}
								{{/with}}
							{{else}}
								{{#if question.sectionId}}
									{{#with getSection question.sectionId}}
										{{#with getChapter chapterId}}
											<a class="ui button" href="/course/{{courseId}}/book/{{bookId}}/chapter/{{_id}}/section/{{../_id}}">
												See in Book Section
											</a>
										{{/with}}
									{{/with}}
								{{else}}
									{{#with getSkill question.skillId}}
										{{#with getTopic topicId}}
											<a class="ui button" href="/course/{{courseId}}/topic/{{_id}}#skill_{{../_id}}">
												See in Topic
											</a>
										{{/with}}
									{{/with}}
								{{/if}}
							{{/if}}
						</div>
						<div class="right aligned column">
							{{#if isMe question.userId}}
								<div class="remove-question-button ui red button">
									Delete Question
								</div>
							{{/if}}
						</div>
					</div>
				</div>
			</div>

			<h3 class="ui dividing header">{{countAnswers question._id}} Answers</h3>
			<div class="ui vertically divided grid">
				{{#each getAnswers question._id}}
					<div class="row">
						{{>questionAnswer}}
					</div>
				{{else}}
					<div class="row">
						<div class="three wide column">
						</div>
						<div class="thirteen wide column">
							This question has not been answered yet.
							Why not submit your own answer?
						</div>
					</div>
				{{/each}}
			</div>

			{{#unless haveAnswered question._id}}
				<h3 class="ui dividing header">Your Answer</h3>
				<div class="ui grid">
					<div class="center aligned three wide column">
					</div>
					<div class="thirteen wide column">
						<form class="new-answer-form ui form">
							<div class="field">
								<label>Submit an answer to this question:</label>
								{{>markdownLabel}}
								<textarea name="answer" placeholder="Your answer"></textarea>
							</div>
							<button class="ui primary button" type="submit">Submit Answer</button>
						</form>
					</div>
				</div>
			{{/unless}}

		{{else}}
			<div class="ui error message">
				This question has been removed.
			</div>
		{{/unless}}

	</div>

</template>
