<template name="studentQuestionListPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="user icon"></i>
			<div class="content">
				{{#with getUser studentId}}
					{{profile.firstName}} {{profile.lastName}}
				{{/with}}
				<div class="sub header">
					Student in
					{{#with getCourse courseId}}
						{{abbreviation}} {{instance}}
					{{/with}}
				</div>
			</div>
			{{#with getUser studentId}}
				{{> userStatusIndicator}}
			{{/with}}
		</h1>
		{{#if isMeOrOnTeachingTeam studentId courseId}}
			{{>studentPageMenu}}
		{{/if}}
		<h2 class="ui dividing header">
			Annotations
		</h2>
		{{>studentAnnotationMenu}}
		<h3 class="ui dividing header">
			<div class="content">
				Questions
				<div class="sub header">
					Questions are visible to the community and can be answered
				</div>
			</div>
		</h3>
		{{#if countUserQuestionsForCourse studentId course._id}}
			You asked {{countUserQuestionsForCourse studentId course._id}} questions.
			{{#with getUserQuestionsForCourse studentId course._id}}
				{{>reactiveTable collection=this settings=makeSettings}}
			{{/with}}
		{{else}}
			<p>
				You asked no questions.
			</p>
			<div class="ui message">
				To ask a question about something, pick
				<strong><i class="help icon"></i>Add Question</strong>
				from a
				<i class="remove bookmark icon"></i>dropdown menu
				in the margin of a page (e.g., in the various
				<a href="{{pathFor 'labListPage' _id=course._id}}">lab pages</a>).
			</div>
		{{/if}}
	</div>
</template>
