<template name="classSessionListPage">
  <div class="ui top attached feature segment">
		<h1 class="ui header">
			{{#if isRegisteredAsInstructor courseId}}
				<div class="top right attached ui blue label">
					<a href="{{pathFor 'classSessionListEditPage' courseId=course._id}}"><i class="ui edit icon"></i> Edit</a>
				</div>
			{{/if}}
			<i class="student icon"></i>
			<div class="content">
				Class Sessions
				<div class="sub header">When we meet for {{course.abbreviation}} {{course.instance}}</div>
			</div>
		</h1>
  </div>
  <div class="ui attached feature segment">
    {{#if course.classSessionListIntroduction}}
  		<p class="ui blue ribbon label"><strong>Why</strong> attend the class sessions?</p>
  		<p>
  			{{#markdownFix}}{{course.classSessionListIntroduction}}{{/markdownFix}}
  		</p>
    {{/if}}

    {{#each getClassSessions course._id}}
    {{else}}
      <h2 class="ui center aligned disabled icon header">
        <i class="student icon"></i>
        No Class Sessions Yet
        {{#if isRegisteredAsInstructor courseId}}
          <div class="sub header">Edit to schedule one</div>
        {{/if}}
      </h2>
    {{/each}}

    {{#if countTodaysClassSessions course._id}}
      <h3 class="ui dividing header">
  			<div class="content">
  				Today's Class Sessions
  			</div>
  		</h3>
      <div class="ui two cards">
        {{#each getTodaysClassSessions course._id}}
          {{>classSessionCard}}
        {{/each}}
      </div>
    {{/if}}

    {{#if countFutureClassSessions course._id}}
      <h3 class="ui dividing header">
  			<div class="content">
  				Upcoming Class Sessions
          <div class="sub header">There are {{countFutureClassSessions course._id}} upcoming class sessions</div>
  			</div>
  		</h3>
      <div class="ui two cards">
        {{#each getFutureClassSessions course._id}}
          {{>classSessionCard}}
        {{/each}}
      </div>
    {{/if}}

    {{#if countPastClassSessions course._id}}
      <h3 class="ui dividing header">
  			<div class="content">
  				Past Class Sessions
          <div class="sub header">There are {{countPastClassSessions course._id}} past class sessions</div>
  			</div>
  		</h3>
      <div class="ui two cards">
        {{#each getPastClassSessions course._id}}
          {{>classSessionCard}}
        {{/each}}
      </div>
    {{/if}}

	</div>
</template>
