<template name="classSessionEditPage">
  <div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="student icon"></i>
			<div class="content">
				{{classSession.title}}
				<div class="sub header">{{classSession.description}}</div>
			</div>
		</h1>

		<h2>Edit Class Session Information</h2>
		<form class="update-form ui form">
			<div class="field">
				<label>Title:</label>
				<input type="text" name="title" class="title-field" placeholder="Short title" value="{{classSession.title}}">
			</div>
			<div class="field">
				<label>Description:</label>
				<input type="text" name="description" class="description-field" placeholder="One-sentence description of this class session" value="{{classSession.description}}">
			</div>
      <div class="three fields">
        <div class="field">
          <label>Date:</label>
          <div class="ui icon input">
            <i class="calendar icon"></i>
            <input class="datepicker date" type="text" name="date" data-value="{{formatDateForPickadate classSession.date}}">
          </div>
        </div>
        <div class="field">
          <label>Time:</label>
          <div class="ui icon input">
            <i class="calendar icon"></i>
            <input class="timepicker" type="text" name="time" data-value="{{formatDateForPickatime classSession.date}}">
          </div>
        </div>
        <div class="field">
  				<label>Duration:</label>
          <div class="ui right labeled input">
    				<input type="text" name="duration" class="duration-field" placeholder="duration" value="{{classSession.duration}}">
            <div class="ui basic label">minutes</div>
          </div>
  			</div>
      </div>
      <div class="field">
        <label>Preparation:</label>
        <p>What exactly should the students do to prepare for this session?</p>
        {{>markdownLabel}}
        <textarea name="preparation" class="preparation-field">{{classSession.preparation}}</textarea>
      </div>
      <div class="field">
        <label>Materials:</label>
        <p>Provide the slides, example code, or other materials (upload under <a href="{{pathFor 'courseFilesPage' courseId=course._id}}">Files</a>) used in class</p>
        {{>markdownLabel}}
        <textarea name="materials" class="materials-field">{{classSession.materials}}</textarea>
      </div>
			<button class="ui blue submit button">Submit</button>
		</form>
	</div>

	<div class="ui attached feature segment">
		<h2>Define Class Session Topics</h2>
		<p>
			Pick the topics covered in this class session.
		</p>
		<div class="ui celled list">
			{{#each getTopics classSession.topicIds}}
				<div class="item">
					<button class="remove-topic-button right floated compact red icon ui button"><i class="minus icon"></i></button>
					{{#with getTheme themeId}}
						<i class="circular inverted {{color}} {{icon}} icon"></i>
					{{/with}}
					<div class="content">
						<div class="header">
							<a href="{{pathFor 'topicPage' courseId=courseId topicId=_id}}">
								{{#if title}}
									{{title}}
								{{else}}
									<i>Untitled topic</i>
								{{/if}}
							</a>
						</div>
						<div>{{description}}</div>
					</div>
				</div>
			{{/each}}
		</div>
		<p>
			<div class="add-topic-dropdown ui compact green floating dropdown labeled icon button">
				<i class="plus icon"></i>
				<span class="text">Add Topic</span>
				<div class="menu">
					<div class="ui icon search input">
						<i class="search icon"></i>
						<input type="text" name="search" placeholder="Search topics...">
					</div>
					<div class="divider"></div>
					{{#each getCourseTopics courseId}}
						<div class="item" data-value="{{_id}}">
							{{#with getTheme themeId}}
								<i class="circular inverted {{color}} {{icon}} icon"></i>
							{{/with}}
							{{#if title}}
								{{title}}
							{{else}}
								<i>Untitled topic</i>
							{{/if}}
						</div>
					{{/each}}
				</div>
			</div>
		</p>
	</div>

  <div class="ui attached feature segment">
    <h2>Pick Preparatory Study Tasks</h2>
    <p>
      Here are all the study tasks available for the above topics.
      Pick the ones you want students to complete <i>before</i> this class session.
    </p>
    {{#with getStudyTasks classSession.topicIds}}
      {{> reactiveTable collection=this settings=makeSettings}}
    {{/with}}
  </div>
</template>
