<template name="bookStructureCreationPreview">
	<h3>Preview</h3>
	{{#unless structure}}
		<p>
			Enter a table of contents above to see the parsed structure here.
		</p>
	{{else}}
		<p>
			Would you like to create the following chapter/section structure?
		</p>
		<div class="ui fluid vertical menu">
			{{#each structure}}
				<div class="item">
					{{number}} {{title}}
					<div class="menu">
						{{#each sections}}
							<div class="item">
								{{../number}}.{{number}} {{title}}
							</div>
						{{/each}}
					</div>
				</div>
			{{/each}}
		</div>
		<p>
			Note: This will add chapters and sections to this book.
			It will <strong>not</strong> remove or change existing chapters or sections.
		</p>
		<p>
			<button class="create-structure-button ui primary button">Create this Structure</button>
		</p>
	{{/unless}}
</template>
