<!-- data context:
user
course
-->
<template name="userQuizListPage">
  {{>userPageHeader}}
  {{>userPageMenu}}
  <div class="ui attached feature segment">
    <h2 class="ui dividing header">
      <div class="content">
        Past Quizzes
        <div class="sub header">
          Taken {{countPastQuizzesTaken course._id user._id}}
          of the {{countPastQuizzes course._id}} past quizzes
        </div>
      </div>
    </h2>
    {{#if countPastQuizzes course._id}}
      <div class="ui two cards">
        {{#each getPastQuizzes course._id}}
          {{#with getQuizAttempt _id ../user._id}}
            {{>studentQuizAttemptCard quiz=.. quizAttempt=this}}
          {{else}}
            {{>studentQuizAttemptCard quiz=this quizAttempt=null}}
          {{/with}}
        {{/each}}
      </div>
    {{/if}}
  </div>
</template>
