<template name="userLearningPane">
  <h3 class="ui dividing header">
    Learning
    {{#if isMe _id}}
      <div class="ui horizontal label">
        <a href="{{pathFor 'profilePage'}}"><i class="edit icon"></i> Edit</a>
      </div>
    {{/if}}
  </h3>
  {{#if profile.howDoYouKnowYouAreLearning}}
    <div>
      {{#markdownFix}}{{profile.howDoYouKnowYouAreLearning}}{{/markdownFix}}
    </div>
  {{else}}
    {{#if isMe _id}}
      <div class="ui secondary segment">
        <a href="/profile">Edit your profile</a>
        to describe approach to learning.
      </div>
    {{else}}
      <div class="ui secondary segment">
        {{#if profile.firstName}}
          {{profile.firstName}} hasn't provided information about their learning yet.
        {{else}}
          No information available.
        {{/if}}
      </div>
    {{/if}}
  {{/if}}
</template>
