<!-- data context:
user
course
-->
<template name="userFeedPage">
  {{>userPageHeader}}
  {{>userPageMenu}}
  <div class="ui attached feature segment">
		<h2 class="ui dividing header">
			Feed
			<div class="sub header">
				Activity in this course
			</div>
		</h2>
		<div class="ui feed">
			{{#each getEvents course._id user._id}}
				<div class="event">
					{{> Template.dynamic template=event}}
				</div>
			{{else}}
				<p>
					Your feed is still empty.
				</p>
			{{/each}}
		</div>
		{{#if hasMoreEvents course._id user._id}}
			<p>
				<div class="ui fluid button more-events-button">More...</div>
			</p>
		{{/if}}
	</div>
</template>
