<template name="userLabPageMenu">
  <div class="ui secondary  menu">
    <a class="{{isActiveRoute "userLabPage"}} item" href="{{pathFor 'userLabPage' courseId=courseId labId=lab._id userId=user._id}}">
      <i class="trophy icon"></i> Scores
    </a>
    <a class="{{isActiveRoute "userLabFeedbackPage"}} item" href="{{pathFor 'userLabFeedbackPage' courseId=courseId labId=lab._id userId=user._id}}">
      <i class="announcement icon"></i> Feedback
    </a>
  </div>
</template>
