<template name="userContactInfoPane">
  <h3 class="ui dividing header">
    Contact Info
    {{#if isMe _id}}
      <div class="ui horizontal label">
        <a href="{{pathFor 'profilePage'}}"><i class="edit icon"></i> Edit</a>
      </div>
    {{/if}}
  </h3>
  {{#if hasAnyContactInfo this}}
    <div class="ui basic segment">
      <div class="ui grid">
        {{#if profile.skypeName}}
          <div class="middle aligned row">
            <div class="one wide column">
              <i class="large skype icon"></i>
            </div>
            <div class="four wide column">
              <a class="ui compact small fluid primary button" href="skype:{{profile.skypeName}}?chat&topic=Informa">Chat on Skype</a>
            </div>
            <div class="four wide column">
              <a class="ui compact small fluid primary button" href="skype:{{profile.skypeName}}?call&topic=Informa">Call on Skype</a>
            </div>
            <div class="seven wide column">
               {{profile.skypeName}}
            </div>
          </div>
        {{/if}}
        {{#if profile.faceTimeId}}
          <div class="middle aligned row">
            <div class="one wide column">
              <i class="large apple icon"></i>
            </div>
            <div class="four wide column">
              <a class="ui compact small fluid primary button" href="facetime:{{profile.faceTimeId}}">Call on Facetime</a>
            </div>
            <div class="four wide column">
              <a class="ui compact small fluid primary button" href="mailto:{{profile.faceTimeId}}">Send Mail</a>
            </div>
            <div class="seven wide column">
              {{profile.faceTimeId}}
            </div>
          </div>
        {{/if}}
        {{#if profile.gmailAddress}}
          <div class="middle aligned row">
            <div class="one wide column">
              <i class="large google icon"></i>
            </div>
            <div class="four wide column">
              <script src="https://apis.google.com/js/platform.js" async defer></script>
              <div class="g-hangout"
                data-render="createhangout"
                data-hangout_type="normal"
                data-topic="Informa"
                data-invites="[{ id : '{{profile.gmailAddress}}', invite_type : 'EMAIL' }]">
              </div>
            </div>
            <div class="four wide column">
              <a class="ui compact small fluid primary button" href="mailto:{{profile.gmailAddress}}">Send Mail</a>
            </div>
            <div class="seven wide column">
              {{profile.gmailAddress}}
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  {{else}}
    {{#if isMe _id}}
      <div class="ui secondary segment">
        <a href="/profile">Edit your profile</a> to add some contact info,
        so other students (e.g., future lab partners) can find you.
      </div>
    {{else}}
      <div class="ui secondary segment">
        {{#if profile.firstName}}
          {{profile.firstName}} hasn't provided contact info yet.
        {{else}}
          No contact info available.
        {{/if}}
      </div>
    {{/if}}
  {{/if}}
</template>
