<!-- data context:
user
quizAttempt
course
-->
<template name="userQuizAttemptPage">
  {{>userPageHeader}}
  {{>userPageMenu}}
  <div class="ui attached feature segment">
    {{#with getQuiz quizAttempt.quizId}}
      <h2 class="ui dividing header">
        {{title}}
        <div class="sub header">
          {{description}}
        </div>
      </h2>
    {{/with}}
    <div class="ui grid">
			<div class="twelve wide column">
        You took this quiz on <strong>{{formatDate quizAttempt.startDate}}</strong>
        at <strong>{{formatTime quizAttempt.startDate}}</strong>.
			</div>
			<div class="four wide right aligned column">
        Duration:
        <strong>{{getDurationInMinutes quizAttempt.startDate quizAttempt.endDate}}</strong>
        /
        {{#with getQuiz quizAttempt.quizId}}
          <strong>{{duration}}</strong> min
        {{/with}}
      </div>
    </div>

    <div class="ui grid">
			<div class="ten wide column">
				<div class="ui fluid vertical menu">
          {{#with getQuiz quizAttempt.quizId}}
            {{#each practiceProblemIds}}
              {{#with getPracticeProblem this}}
				        <a class="item" href="#{{_id}}">
                  <strong>{{title}}</strong>
                  {{#if isQuizAttemptItemCorrect ../../../quizAttempt this}}
                    <i class="green checkmark icon"></i>
                  {{else}}
                    <i class="red remove icon"></i>
                  {{/if}}
                </a>
              {{/with}}
	          {{/each}}
          {{/with}}
				</div>
			</div>
			<div class="six wide center aligned column">
				<div class="ui statistic">
					<div class="value">
	          {{countCorrectQuizAttemptItems quizAttempt}}
            /
            {{#with getQuiz quizAttempt.quizId}}
              {{practiceProblemIds.length}}
            {{/with}}
					</div>
					<div class="label">
						Points
					</div>
				</div>
			</div>
		</div>

  </div>

  {{#with getQuiz quizAttempt.quizId}}
    {{#each practiceProblemIds}}
      {{#with getPracticeProblem this}}
        <div class="ui top attached feature segment" id="{{_id}}">
          <h2 class="ui header">
            {{title}}
            <span class="right floated">
              {{#if isQuizAttemptItemCorrect ../../../quizAttempt this}}
                <i class="green checkmark icon"></i>
              {{else}}
                <i class="red remove icon"></i>
              {{/if}}
            </span>
          </h2>
        </div>
        {{#if skillIds}}
      		<div class="ui attached secondary segment">
            <div class="ui grid">
              <div class="ten wide column">
          			<h3 class="ui header">
          				<div class="content">
          					Tested Skills
          				</div>
          			</h3>
          			<div class="ui list">
          				{{#each skillIds}}
          					{{#with getSkill this}}
          						<div class="item">
          							<i class="bullseye icon"></i>
          							<div class="content">
          								<div class="header">{{title}}</div>
          								<div class="description">{{#markdownFix}}{{description}}{{/markdownFix}}</div>
          							</div>
          						</div>
          					{{/with}}
          				{{/each}}
          			</div>
              </div>
              <div class="six wide column">
                {{#with getTopic topicId}}
                  {{>topicMiniCard}}
                {{/with}}
              </div>
            </div>
      		</div>
      	{{/if}}
        <div class="ui attached feature segment">
          {{#markdownFix}}{{question}}{{/markdownFix}}
          {{#each choices}}
            {{#if text}}
              <div class="ui divider"></div>
              <div class="ui basic segment {{#if isCorrect}}tertiary inverted green{{/if}} choice-container">
                <div class="ui grid">
                  <div class="four wide center aligned column">
                    <div class="ui statistic">
                      <div class="label">
                        Choice
                      </div>
                      <div class="value">
                        {{label}}
                      </div>
                      {{#if getChoiceForPracticeProblemIdAndLabel ../../../../quizAttempt ../_id label}}
                        <div class="ui toggle button active" name="{{label}}">
                          <i class='checkmark icon'></i> Correct
                        </div>
                      {{else}}
                        <div class="ui toggle button" name="{{label}}">
                          <i class='minus icon'></i> Wrong
                        </div>
                      {{/if}}
                    </div>
                  </div>
                  <div class="twelve wide column">
                    {{#markdownFix}}{{text}}{{/markdownFix}}
                  </div>
                </div>
              </div>
            {{/if}}
          {{/each}}
        </div>
        <div class="ui bottom attached feature segment">
          <h3 class="ui header">Explanation</h3>
    			{{#markdownFix}}{{explanation}}{{/markdownFix}}
        </div>
      {{/with}}
    {{/each}}
  {{/with}}
</template>
