<template name="profilePage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="user icon"></i>
			<div class="content">
				Edit Profile
				<div class="sub header">
					Personal Information, Email, Picture, and Password
				</div>
			</div>
		</h1>
		<div class="ui info message">
			<p>
				All courses you register for in Informa
				use this one common profile.
			</p>
			<p>
				Your personal information
				(name, contact information, and biography)
				will be visible to the other students and the teaching team
				in the courses for which you register.
			</p>
			<p>
				We get your profile picture from Gravatar,
				if you have one there.
				Pictures you upload to Gravatar are visible to the entire world.
			</p>
		</div>
		<form class="ui form">
			<h4 class="ui dividing header">Personal Information</h4>
			<div class="field">
				<label>Name</label>
				<div class="two fields">
					<div class="field">
						<input type="text" name="firstName" placeholder="First Name" value="{{currentUser.profile.firstName}}">
					</div>
					<div class="field">
						<input type="text" name="lastName" placeholder="Last Name" value="{{currentUser.profile.lastName}}">
					</div>
				</div>
			</div>
      <div class="field">
        <label>Contact Info</label>
				<p>
					Please provide your contact information
					so that your fellow students (e.g., future lab partners)
					know how to reach you.
				</p>
        <div class="two fields">
          <div class="field">
            <div class="ui left icon input">
              <input type="text" name="skypeName" placeholder="Skype Name" value="{{currentUser.profile.skypeName}}">
              <i class="skype icon"></i>
            </div>
          </div>
          <div class="field">
            Enables Skype calls.<br>
            <span style="color: #d0d0d0">Only shared with teaching team and registered classmates.</span>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <div class="ui left icon input">
              <input type="text" name="faceTimeId" placeholder="FaceTime (e.g., yourname@icloud.com)" value="{{currentUser.profile.faceTimeId}}">
              <i class="apple icon"></i>
            </div>
          </div>
          <div class="field">
            Enables FaceTime calls.<br>
            <span style="color: #d0d0d0">Only shared with teaching team and registered classmates.</span>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <div class="ui left icon input">
              <input type="text" name="gmailAddress" placeholder="Gmail (e.g., yourname@gmail.com)" value="{{currentUser.profile.gmailAddress}}">
              <i class="google icon"></i>
            </div>
          </div>
          <div class="field">
            Enables Google Hangouts.<br>
            <span style="color: #d0d0d0">Only shared with teaching team and registered classmates.</span>
          </div>
        </div>
      </div>
			<div class="field">
				<label>Biography</label>
				<p>
					It would be nice if you provided a couple of paragraphs of information about yourself.
					Whatever you'd like to share with your fellow students and the teaching team,
					so they can get to know you a bit better.
				</p>
				<div class="ui label">you can use <a target="informa-help" href="http://daringfireball.net/projects/markdown/">markdown</a> for formatting</div>
				<textarea name="biography">{{currentUser.profile.biography}}</textarea>
			</div>
			<div class="field">
				<label>How do you know that you're learning?</label>
				<p>
					Please help us to better understand how you are learning by
					briefly describing <i>how you <b>know</b> that you are learning</i>.
				</p>
				<textarea name="howDoYouKnowYouAreLearning">{{currentUser.profile.howDoYouKnowYouAreLearning}}</textarea>
			</div>
			<button class="ui blue submit button">Update your personal information</button>
		</form>
		<h4 class="ui dividing header">Email Addresses</h4>
		<table class="ui table">
			<thead>
				<tr>
					<th>Address</th>
					<th class="center aligned collapsing">Verified</th>
				</tr>
			</thead>
			<tbody>
				{{#each currentUser.emails}}
					<tr>
						<td>{{address}}</td>
						<td class="center aligned collapsing">
							{{#if verified}}
								<i class="checkmark icon"></i>
							{{else}}
								<button class="resend-verification-email-button ui compact blue button">Resend Verification Email</button>
							{{/if}}
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>

		<h4 class="ui dividing header">Picture</h4>
		<div class="ui grid">
			<div class="two wide column">
				<div class="ui segment">
					<a href="{{gravatarProfileUrl}}"><img class="ui centered image" src="{{gravatarUrl}}"></a>
				</div>
			</div>
			<div class="fourteen wide column">
				<p>
					We show the <a href="{{gravatarProfileUrl}}">Gravatar connected to the email address</a> you used to register for this account ({{currentUserEmail}}).
				</p>
				<p>
					If you don't have a Gravatar yet, you may want to <a href="http://gravatar.com/">create one</a>.
				</p>
			</div>
		</div>
		<h4 class="ui dividing header">Password</h4>
		<a href="/change-password">Change password</a>
	</div>
</template>
