<template name="adminCourseListPage">
	<div class="ui top attached feature segment">
		<h2 class="ui dividing header">
			<div class="content">
				Courses
			</div>
		</h2>
		<p>
			As an administrator you can see all courses and create new courses.
			In the future we will add a way to clone courses
			(to create a new instance of a past course).
		</p>
		<h3 class="ui dividing header">Create New Course</h3>
		<div>
			<form class="ui form">
				<div class="two fields">
					<div class="field">
						<label>Abbreviation:</label>
						<input type="text" name="abbreviation" placeholder="E.g., CS1" value="{{topic.title}}">
					</div>
					<div class="field">
						<label>Instance:</label>
						<input type="text" name="instance" placeholder="E.g., 2016" value="{{topic.title}}">
					</div>
				</div>
				<div class="field">
					<label>Title:</label>
					<input type="text" name="title" placeholder="Course title" value="{{topic.title}}">
				</div>
				<button class="ui blue submit button">Create Course</button>
			</form>
		</div>
		<h3 class="ui dividing header">
			Existing Courses
		</h3>
		<p>
			Note: You can only delete courses that have never had any registrations
			from instructors, assistants, and students (where <code>#I + #A + #S == 0</code>).
			If anyone has ever been registered for a course, all you can do now is to hide the course
			by unchecking it in the "Visible" column.
		</p>
		{{> reactiveTable collection=findCourses rowsPerPage=10 settings=settings}}
	</div>
</template>
