<template name="mathJaxLabel">
	<div class="mathjax-label ui label">Use <a target="informa-help" href="http://mathjax.org/">MathJax</a> for formatting</div>
	<div class="ui flowing popup" style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0">
		<table class="ui celled striped table" style="border: 0">
			<thead>
				<tr>
					<th colspan="2">MathJax Quick Reference</th>
				</tr>
			</thead>
			<tbody>
        <tr>
          <td colspan="2">Enter MathML, wrap TeX in $ or $$ delimiters, or ASCIImath in ` delimiters.</td>
        </tr>
				<tr>
					<td>
						<code style="font-size: 80%">\[\frac{d}{dx}\left( \int_{0}^{x} f(u)\,du\right)=f(x).\]</code>
					</td>
					<td>
						{{#mathjax}}<span>\[\frac{d}{dx}\left( \int_{0}^{x} f(u)\,du\right)=f(x).\]</span>{{/mathjax}}
					</td>
				</tr>
        <tr>
					<td>
						<code style="font-size: 80%">$x^2+y^2=z^2$</code>
					</td>
					<td>
						{{#mathjax}}<span>$$x^2+y^2=z^2$$</span>{{/mathjax}}
					</td>
				</tr>
        <tr>
					<td>
						<code style="font-size: 80%">$$\sin A \cos B = \frac{1}{2}\left[ \sin(A-B)+\sin(A+B) \right]$$</code>
					</td>
					<td>
						{{#mathjax}}<span>$$\sin A \cos B = \frac{1}{2}\left[ \sin(A-B)+\sin(A+B) \right]$$</span>{{/mathjax}}
					</td>
				</tr>
        <tr>
					<td>
						<code style="font-size: 80%">$${n+1\choose k} = {n\choose k} + {n \choose k-1}$$</code>
					</td>
					<td>
						{{#mathjax}}<span>$${n+1\choose k} = {n\choose k} + {n \choose k-1}$$</span>{{/mathjax}}
					</td>
				</tr>
        <tr>
					<td>
						<code style="font-size: 80%">$$ |x| = \left\{ \begin{array}{rl} -x &amp;\mbox{ if $x&lt;0$} \\ x &amp;\mbox{ otherwise} \end{array} \right.$$</code>
					</td>
					<td>
						{{#mathjax}}<span>$$ |x| = \left\{ \begin{array}{rl} -x &amp;\mbox{ if $x&lt;0$} \\ x &amp;\mbox{ otherwise} \end{array} \right.$$</span>{{/mathjax}}
					</td>
				</tr>
        <tr>
					<td>
						<code style="font-size: 80%">$$\underbrace{n(n-1)(n-2)\dots(n-m+1)}_{\mbox{total of $m$ factors}}$$</code>
					</td>
					<td>
						{{#mathjax}}<span>$$\underbrace{n(n-1)(n-2)\dots(n-m+1)}_{\mbox{total of $m$ factors}}$$</span>{{/mathjax}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>
