<template name="pomodoroStartModal">
	<div class="start-pomodoro-modal ui modal">
		{{>pomodoroStartModalInner}}
	</div>
</template>


<template name="pomodoroStartModalInner">
	<i class="close icon"></i>
	<div class="header">
		Start a Pomodoro
	</div>
	<div class="content">
		<div class="image">
			<img class="ui image" src="/images/pomodoro.png">
		</div>
		<div class="description">
			<div class="ui header">Start 25 Minutes of Uninterrupted Focused Work</div>

			<form class="ui form">
				<div class="field">
					<label>During this pomodoro I will accomplish:</label>
					<input class="pomodoro-goal-input" type="text" name="goal" placeholder="My goal">
				</div>

				<div class="two fields">
					<div class="field">
						<label>I will study this topic:</label>
						<div class="topic-dropdown ui fluid search selection dropdown">
							<input type="hidden" name="topic" class="pomodoro-topic-input">
							<i class="dropdown icon"></i>
							<div class="default text">Select Topic</div>
							<div class="menu">
								<div class="item" data-value="">No topic</div>
								{{#each getTopics}}
									{{#with getTheme themeId}}
										<div class="item" data-value="{{../_id}}"><i class="small circular inverted {{color}} {{icon}} icon"></i>{{../title}}</div>
									{{/with}}
								{{/each}}
							</div>
						</div>
					</div>
					<div class="field">
						<label>I will work on this lab:</label>
						<div class="lab-dropdown ui fluid search selection dropdown">
							<input type="hidden" name="lab" class="pomodoro-lab-input">
							<i class="dropdown icon"></i>
							<div class="default text">Select Lab</div>
							<div class="menu">
								<div class="item" data-value="">No lab</div>
								{{#each getLabs}}
									<div class="item" data-value="{{_id}}"><i class="small circular lab icon"></i>{{title}}</div>
								{{/each}}
							</div>
						</div>
					</div>
				</div>
			</form>

		</div>
	</div>
	<div class="actions">
		<div class="ui cancel button">Cancel</div>
		<div class="ui red ok button"><i class="wait icon"></i> Start</div>
	</div>
</template>
