<template name="pomodoroTopicOrLabCell">
	{{#if topicId}}
		{{#with getTopic topicId}}
			{{#with getTheme themeId}}
			<i class="small circular inverted {{color}} {{icon}} icon"></i><a href="{{pathFor 'topicPage' courseId=courseId topicId=../_id}}">{{../title}}</a>
			{{/with}}
		{{/with}}
	{{/if}}
	{{#if topicId}}
		{{#if labId}}
			<br>
		{{/if}}
	{{/if}}
	{{#if labId}}
		{{#with getLab labId}}
			<i class="small circular lab icon"></i><a href="{{pathFor 'labPage' courseId=courseId labId=_id}}">{{title}}</a>
		{{/with}}
	{{/if}}
</template>
