<template name="pomodoroGoalAccomplishedCell">
	{{#if completed}}
		{{#if goalAccomplished}}
			<i class="{{getGoalAccomplishedIconName goalAccomplished}} icon"></i>
			{{goalAccomplished}}
			{{#if comment}}
				<br><small>{{comment}}</small>
			{{/if}}
		{{/if}}
	{{else}}
		<small>{{reason}}</small>
	{{/if}}
</template>
