<template name="pomodoroCompleteModal">
	<div class="complete-pomodoro-modal ui modal">
		{{>pomodoroCompleteModalInner}}
	</div>
</template>


<template name="pomodoroCompleteModalInner">
	<div class="header">
		Pomodoro Complete!
	</div>
	<div class="content">
		<div class="image">
			<img class="ui image" src="/images/pomodoro.png">
		</div>
		<div class="description">
			<div class="ui header">It's time for a break, but first...</div>

			<form class="ui form">
				{{#with getOngoingPomodoro}}
					{{#with getTopic topicId}}
						<div class="field">
							<label>You wanted to work on topic:</label>
							<p>
								{{#with getTheme themeId}}
									<i class="circular inverted {{color}} {{icon}} icon"></i>{{../title}}
								{{/with}}
							</p>
						</div>
					{{/with}}

					{{#with getLab labId}}
						<div class="field">
							<label>You wanted to work on lab:</label>
							<p>
								<i class="circular lab icon"></i>{{title}}
							</p>
						</div>
					{{/with}}

					{{#if goal}}
						<div class="field">
							<label>Your goal was:</label>
							<p>
								{{goal}}
							</p>
						</div>
					{{/if}}
				{{/with}}

				<div class="field">
					<label>Have you achieved your goal?</label>
					<div class="ui three column grid complete-pomodoro-toggle-buttons">
						<div class="column">
							<div class="complete-pomodoro-toggle-button fluid basic red ui labeled icon toggle button" name="no"><i class="large frown icon"></i> No</div>
						</div>
						<div class="column">
							<div class="complete-pomodoro-toggle-button fluid basic yellow ui labeled icon toggle button" name="partially"><i class="large meh icon"></i> Partially</div>
						</div>
						<div class="column">
							<div class="complete-pomodoro-toggle-button fluid basic green ui labeled icon toggle button" name="fully"><i class="large smile icon"></i> Fully</div>
						</div>
					</div>
				</div>
				<div class="field">
					<label>Comment:</label>
					<input class="complete-pomodoro-comment-field" type="text" placeholder="Comment">
				</div>
			</form>

		</div>
	</div>
	<div class="actions">
		<div class="ui blue ok button">I will take a Break</div>
	</div>
</template>
