<!-- data context:
. (studentRegistration)
-->
<template name="studentInfoPane">
  <!--
    <a class="ui button" href="{{pathFor 'studentPage' courseId=courseId _id=_id}}">Old Student Page</a>
  -->

  <div class="ui grid">
    <div class="eight wide column">
      Registered: <strong>{{formatDate creationDate}}</strong>
      {{#if withdrawn}}
        <br>
        <strong>Withdrawn</strong>: <strong>{{formatDate withdrawalDate}}</strong>
      {{/if}}
      {{#if isMeOrOnTeachingTeam studentId courseId}}
        {{#with getUser studentId}}
          {{#if emails.[0]}}
            <br>
            {{#if emails.[0].verified}}
              <i class="green check square icon"></i>
            {{else}}
              <i class="red minus circle icon"></i>
            {{/if}}
            <a href="mailto:{{emails.[0].address}}">{{emails.[0].address}}</a>
          {{/if}}
        {{/with}}
        <br>
        {{#if isUserNotYetApprovedAsStudent studentId courseId}}
          Not yet approved
        {{else}}
          Approved by:
          {{#with getUser approverId}}
            <strong>{{profile.firstName}} {{profile.lastName}}</strong>
          {{/with}}
        {{/if}}
      {{/if}}
      <br>
      {{#if isMe studentId}}
        <div class="ui horizontal label">
          <a href="{{pathFor 'profilePage'}}"><i class="edit icon"></i> Edit Profile</a>
        </div>
      {{/if}}
    </div>
    <div class="four wide column">
      {{#with getPhoto _id}}
        <img src="{{getPhotoLink}}" class="ui fluid image">
      {{/with}}
    </div>
    <div class="four wide column">
      {{#with getUser studentId}}
        <img src="{{gravatarUrl this}}" class="ui fluid image">
      {{/with}}
    </div>
  </div>


</template>
