<template name="studentPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="user icon"></i>
			<div class="content">
				{{#with getUser studentId}}
					{{profile.firstName}} {{profile.lastName}}
				{{/with}}
				<div class="sub header">
					Student in
					{{#with getCourse courseId}}
						{{abbreviation}} {{instance}}
					{{/with}}
				</div>
			</div>
			{{#with getUser studentId}}
				{{> userStatusIndicator}}
			{{/with}}
		</h1>
		{{#if isMeOrOnTeachingTeam studentId courseId}}
			{{>studentPageMenu}}
		{{/if}}

		<div class="ui grid">
			<div class="eight wide column">
				Registered: <strong>{{formatDate creationDate}}</strong>
				{{#if withdrawn}}
					<br>
					<strong>Withdrawn</strong>: <strong>{{formatDate withdrawalDate}}</strong>
				{{/if}}
				{{#if isOnTeachingTeam courseId}}
					{{#with getUser studentId}}
						{{#if emails.[0]}}
							<br>
							{{#if emails.[0].verified}}
								<i class="green check square icon"></i>
							{{else}}
								<i class="red minus circle icon"></i>
							{{/if}}
							<a href="mailto:{{emails.[0].address}}">{{emails.[0].address}}</a>
						{{/if}}
					{{/with}}
					<br>
					{{#if isUserNotYetApprovedAsStudent studentId courseId}}
						Not yet approved
					{{else}}
						Approved by:
						{{#with getUser approverId}}
							<strong>{{profile.firstName}} {{profile.lastName}}</strong>
						{{/with}}
					{{/if}}
				{{/if}}
				{{#if isMe studentId}}
					<div class="ui horizontal label">
		        <a href="{{pathFor 'profilePage'}}"><i class="edit icon"></i> Edit Profile</a>
		      </div>
				{{/if}}
			</div>
			<div class="four wide column">
				{{#with getPhoto _id}}
					<img src="{{getPhotoLink}}" class="ui fluid image">
				{{/with}}
			</div>
			<div class="four wide column">
				{{#with getUser studentId}}
					<img src="{{gravatarUrl this}}" class="ui fluid image">
				{{/with}}
			</div>
		</div>
		{{#if isOnTeachingTeam courseId}}
			{{#if isUserNotYetApprovedAsStudent studentId courseId}}
				<div class="ui info message">
					<div class="header">
						Not yet approved.
					</div>
					<p>
						This student self-registered for
						{{#with getCourse courseId}}
							<strong>{{abbreviation}} {{instance}}</strong>
						{{/with}}
						on {{formatDate creationDate}}.
						That registration has not been approved yet.
					</p>
					<p>
						To prevent impersonation, you may want to only approve users with a verified university email address corresponding to their name:
					</p>
					<ul class="ui list">
						{{#with getUser studentId}}
							{{#each emails}}
								<div class="item">
									<i class="mail icon"></i>
									<div class="content">
										{{address}}
										{{#if verified}}
											<i class="green check square icon"></i> <strong>address verified</strong>
										{{else}}
											<i class="red minus circle icon"></i> <strong><emph>address not yet verified!</emph></strong> (ask student to verify)
										{{/if}}
									</div>
								</div>
							{{/each}}
						{{/with}}
					</ul>
					<p>
						<button class="approve-user-as-student-button compact blue ui button">Approve as student</button>
					</p>
				</div>
			{{/if}}
		{{/if}}
		{{#if isMeOrOnTeachingTeam studentId courseId}}
			{{>studentPageClassSessionPane}}
			{{>studentPageLabPane}}
			<h3 class="ui dividing header">
				<div class="content">
					Reading Recalls
				</div>
			</h3>
			<div class="ui grid">
				<div class="center aligned four wide column">
					<a class="ui statistic" href="{{pathFor 'studentReadingPage' courseId=courseId _id=_id}}">
						<div class="value">
							<i class="book icon"></i> {{countStudentCourseSectionStatuses studentId courseId}}
						</div>
						<div class="label">
							Sections Recalled
						</div>
					</a>
				</div>
				<div class="twelve wide column">
					{{#each getMostRecentSectionStatus studentId courseId}}
						<h4 class="ui header">Most Recent Recall</h4>
						<div class="ui breadcrumb">
							<a href="{{pathFor 'bookPage' courseId=courseId bookId=bookId}}" class="section">{{#with getBook bookId}}{{abbreviation}}{{/with}}</a>
							<i class="right chevron icon divider"></i>
							<a href="{{pathFor 'chapterPage' courseId=courseId bookId=bookId chapterId=chapterId}}" class="section">{{#with getChapter chapterId}}{{number}}. {{title}}{{/with}}</a>
							<i class="right chevron icon divider"></i>
							<a href="{{pathFor 'sectionPage' courseId=courseId bookId=bookId chapterId=chapterId sectionId=sectionId}}" class="active section">{{#with getSection sectionId}}{{number}}. {{title}}{{/with}}</a>
						</div>
						<div class="inverted blue ui segment">
							{{recallText}}
						</div>
						<p>
							{{formatDateTime modificationDate}}
						</p>
					{{/each}}
				</div>
			</div>

			<h3 class="ui dividing header">
				<div class="content">
					Practice Problems
				</div>
			</h3>
			<div class="two column ui grid">
				<div class="column">
					<div class="two column ui grid">
						<div class="center aligned column">
							<a class="ui statistic" href="{{pathFor 'studentOwnPracticeProblemListPage' courseId=courseId _id=_id}}">
								<div class="value">
									<i class="university icon"></i> {{countOwnPracticeProblems studentId courseId}}
								</div>
								<div class="label">
									Problems Published
								</div>
							</a>
						</div>
						<div class="center aligned column">
							<div class="ui statistic">
								<div class="value">
									{{countSolutionsOfOwnPracticeProblems studentId courseId}}
								</div>
								<div class="label">
									Solutions of My Problems
								</div>
							</div>
						</div>
						{{#if countSolutionsOfOwnPracticeProblems studentId courseId}}
							<div class="center aligned column">
								<div class="ui statistic">
									<div class="text value">
										{{determineAverageOwnPracticeProblemQuality studentId courseId}}
									</div>
									<div class="label">
										Average Quality
									</div>
								</div>
							</div>
							<div class="center aligned column">
								<div class="ui statistic">
									<div class="text value">
										{{determineAverageOwnPracticeProblemDifficulty studentId courseId}}
									</div>
									<div class="label">
										Average Difficulty
									</div>
								</div>
							</div>
						{{/if}}
					</div>
				</div>
				<div class="column">
					{{#each getMostRecentPracticeProblemSolutionWithComment studentId courseId}}
						<h4 class="ui header">Most Recent Feedback</h4>
						<div class="ui celled list">
							<div class="item">
								{{#with getTopic topicId}}
									{{#with getTheme themeId}}
										<i class="circular inverted {{color}} {{icon}} icon"></i>
									{{/with}}
								{{/with}}
								{{#with getPracticeProblem practiceProblemId}}
									<div class="content">
										{{#with getTopic topicId}}
											{{title}}
										{{/with}}
										<div class="header">{{>clickablePracticeProblemTitle}}</div>
									</div>
								{{/with}}
								<div class="ui comments">
									<div class="comment">
										<div class="content">
											<a href="" class="author">Someone</a>
											<div class="metadata">
												<div class="date">
													{{formatDateFromNow feedbackDate}}
												</div>
												<div class="rating">
													<i class="thumbs up icon"></i> {{getArrayLength commentAgreeingUserIds}}
												</div>
												<div class="rating">
													<i class="thumbs down icon"></i> {{getArrayLength commentDisagreeingUserIds}}
												</div>
											</div>
											<div class="text">
												{{comment}}
											</div>
											<div class="actions">
												{{#with getPracticeProblem practiceProblemId}}
													<a href="{{pathFor 'viewPracticeProblemPage' courseId=courseId topicId=topicId practiceProblemId=_id}}">More...</a>
												{{/with}}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					{{/each}}
				</div>
			</div>

			{{#with getCourse courseId}}
				{{#if useMasteryChecks}}
					<h3 class="ui dividing header">
						<div class="content">
							Mastery Checks
						</div>
					</h3>
					{{#unless isOnTeachingTeam courseId}}
						<p>
							To prepare for a mastery check,
							go to the <a href="{{pathFor 'masteryCheckPreparationPage' _id=courseId}}">mastery check preparation page</a>.
						</p>
					{{/unless}}
					{{> masteryCheckTable ofCourseId=courseId ofStudentId=../studentId}}
				{{/if}}
			{{/with}}
		{{/if}}

		{{#with getUser studentId}}
			{{>userContactInfoPane}}
			{{>userBioPane}}
		{{/with}}

		{{#if isMeOrOnTeachingTeam studentId courseId}}
			<h3 class="ui dividing header">
				Guerilla Mail Account
			</h3>
			{{#if isRegisteredAsInstructor courseId}}
				<form class="guerillamail-form ui form">
					<div class="two fields">
						<div class="field">
							<label>Cleartext address (part before @):</label>
							<input name="guerillamailCleartextAddress" type="text" placeholder="e.g., rnubofvx" value="{{guerillamailCleartextAddress}}">
						</div>
						<div class="field">
							<label>Scrambled address (part before @):</label>
							<input name="guerillamailScrambledAddress" type="text" placeholder="e.g., 3rpw27+396cdosa0rokk" value="{{guerillamailScrambledAddress}}">
						</div>
					</div>
					<button class="ui blue submit button">Submit</button>
				</form>
			{{else}}
				{{#if guerillamailCleartextAddress}}
					<p>
						To provide detailed and consistent feedback on your paper-based graded exams,
						we created a gradescope account for you.
						However, to keep your information in gradescope anonymous,
						we did not use your official information (name, email address, ...) in gradescope.
						Instead, we created an anonymous Guerilla Mail email address for you.
						There are two versions of that address: the <strong>cleartext</strong> version,
						which is what you need so you can see your mailbox on GuerillaMail.com,
						and the <strong>scrambled</strong> version,
						which is what you need to log into gradescope.
					</p>
					<p>
						Cleartext address: <strong>{{guerillamailCleartextAddress}}</strong>@guerrillamailblock.com
					</p>
					<p>
						Scrambled address: <strong>{{guerillamailScrambledAddress}}</strong>@guerrillamailblock.com
					</p>
					<p>
						To access your paper-based graded exams on gradescope:
					</p>
					<ul>
						<li>Go to <a href="https://gradescope.com/" target="_blank">gradescope</a></li>
						<li>Click on "Log in"</li>
						<li>Click on "Forgot your password?"</li>
						<li>As the email address, enter your scrambled Guerilla Mail address (<strong>{{guerillamailScrambledAddress}}@guerrillamailblock.com</strong>)</li>
						<li>Go to <a href="https://www.guerrillamail.com/" target="_blank">Guerilla Mail</a></li>
						<li>Click the button to set the cleartext Guerrilla Mail address to <strong>{{guerillamailCleartextAddress}}</strong> (without @...)</li>
						<li>Now you should see your mailbox, containing at least one email (the welcome mail)</li>
						<li>You may have to wait for a couple of minutes for the gradescope password reset email to arrive (subject "Gradescope.com Password Reset")</li>
						<li>Once it arrives, open that mail, and click on the link in the mail</li>
						<li>You will be sent to a page on gradescope where you can set your gradescope password</li>
						<li>Set the password (pick whatever password you like)</li>
						<li>This will log you into your gradescope account, where you can see all your graded paper-based exams</li>
					</ul>
					<p>
						If you want to log into gradescope in the future, you can use your scrambled Guerilla Mail address and this password
						(no need to reset the password each time).
					</p>
				{{else}}
					<p>
						The instructor has not connected this account to a Guerilla Mail account.
					</p>
				{{/if}}
			{{/if}}
		{{/if}}

		{{#if isRegisteredAsInstructor courseId}}
			<div class="ui error message">
				<div class="header">
					Modify Student Registration
				</div>
				<div class="ui grid">
					{{#unless withdrawn}}
						<div class="four wide column">
							<button class="withdraw-button fluid yellow ui button">Withdraw</button>
						</div>
						<div class="twelve wide column">
							You can withdraw this student &mdash;
							{{#with getUser studentId}}
								{{profile.firstName}} {{profile.lastName}}
							{{/with}}
							&mdash; from this course.
							This does <i>not</i> delete any of the student's information.
							You can later undo the withdrawal.
						</div>
					{{/unless}}
					{{#if withdrawn}}
						<div class="four wide column">
							<button class="undo-withdrawal-button fluid yellow ui button">Undo Withdrawal</button>
						</div>
						<div class="twelve wide column">
							This student had withdrawn from this course on
							{{formatDate withdrawalDate}}.
							You can undo this withdrawal.
							The student will then again show up on the community page.
						</div>
					{{/if}}
				</div>
			</div>
		{{/if}}
	</div>
</template>
