<template name="themeListPage">
	<div class="ui top attached feature segment">
		<h1 class="ui header">
			<i class="theme icon"></i>
			<div class="content">
				Themes
				<div class="sub header">
					{{course.abbreviation}} {{course.instance}} has
					{{getThemeCountForCourse courseId}} themes,
					<a href="{{pathFor "topicListPage" courseId=courseId}}">{{getTopicCountForCourse courseId}} topics</a>,
					<a href="{{pathFor "skillListPage" courseId=courseId}}">{{getSkillCountForCourse courseId}} skills</a>
				</div>
			</div>
		</h1>
		{{#if isRegisteredAsInstructor courseId}}
			<div class="top right attached ui blue label">
				<a href="{{pathFor 'themeListEditPage' courseId=course._id}}"><i class="ui edit icon"></i> Edit</a>
			</div>
		{{/if}}
	</div>
	<div class="ui attached feature segment">
		<p>{{#markdownFix}}{{course.overview}}{{/markdownFix}}</p>
		<div id="theme-card-container" class="ui two cards">
			{{#each themes}}
				{{>themeCard}}
			{{/each}}
		</div>
		{{#each themes}}
		{{else}}
			<h2 class="ui center aligned disabled icon header">
				<i class="theme icon"></i>
				No Themes Yet
				{{#if isRegisteredAsInstructor courseId}}
					<div class="sub header">Edit to create one</div>
				{{/if}}
			</h2>
		{{/each}}
	</div>
</template>
