<template name="practiceProblemSolutionClickablePracticeProblemTitle">
	{{#with getPracticeProblem practiceProblemId}}
		<a href="{{pathFor 'viewPracticeProblemPage' courseId=courseId topicId=topicId practiceProblemId=_id}}">{{title}}</a>
	{{/with}}
</template>
