<template name="studentOwnPracticeProblemListPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="user icon"></i>
			<div class="content">
				{{#with getUser studentId}}
					{{profile.firstName}} {{profile.lastName}}
				{{/with}}
				<div class="sub header">
					Student in
					{{#with getCourse courseId}}
						{{abbreviation}} {{instance}}
					{{/with}}
				</div>
			</div>
			{{#with getUser studentId}}
				{{> userStatusIndicator}}
			{{/with}}
		</h1>
		{{#if isMeOrOnTeachingTeam studentId courseId}}
			{{>studentPageMenu}}
		{{/if}}
		<h2 class="ui dividing header">
			Practice Problems
		</h2>
		{{>studentPracticeProblemMenu}}
		<h3 class="ui dividing header">Practice Problems Created by Me</h3>
		{{#if countStudentOwnPracticeProblems studentId}}
			{{#if countStudentOwnPublishedUnarchivedPracticeProblems studentId}}
				You published {{countStudentOwnPublishedUnarchivedPracticeProblems studentId}} practice problems that your peers can solve.
			{{else}}
				You may want to publish some of your problems, so your peers can see and solve them.
			{{/if}}
			{{#with findStudentOwnPracticeProblems studentId}}
				{{> reactiveTable collection=this settings=makeSettings}}
			{{/with}}
		{{else}}
			You have not yet created any practice problems.
		{{/if}}
		<p>
			&nbsp;
		</p>
		<p>
			Practice problems are related to a topic.
			Go to a <a href="{{pathFor 'topicListPage' courseId}}">topic page</a>
			to create a practice problem for that topic.
		</p>
	</div>
</template>
