<template name="topicOwnPracticeProblemListPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			<i class="circular inverted {{theme.color}} {{theme.icon}} icon"></i>
			<div class="content">
				{{topic.title}}
				<div class="sub header">
					<a href="{{pathFor 'themePage' courseId=courseId themeId=theme._id}}">{{theme.title}}</a>
				</div>
				<div class="sub header">
					Grade: {{topic.masteryRequiredForGrade}}+
				</div>
			</div>
		</h1>
		{{>topicPageMenu}}
		<h2 class="ui dividing header">
			Practice Problems
		</h2>
		{{>topicPracticeProblemMenu}}
		<h3 class="ui dividing header">
			<div class="content">
				Practice Problems Created by You
				<div class="sub header">
					You published {{countOwnPublishedUnarchivedPracticeProblems topic._id}} of your
					{{countOwnUnarchivedPracticeProblems topic._id}} practice problems
				</div>
			</div>
		</h3>
		{{#if countOwnUnarchivedPracticeProblems topic._id}}
			{{#with findOwnUnarchivedPracticeProblems topic._id}}
				{{> reactiveTable collection=this settings=makeSettings}}
			{{/with}}
		{{else}}
			You have no own practice problems for this topic.
		{{/if}}
		<p>
			&nbsp;
		</p>
		<p>
			<button class="ui green button create-practice-problem-button">Create Practice Problem</button>
		</p>
		{{#if countOwnArchivedPracticeProblems topic._id}}
			<h3 class="ui dividing header">
				<div class="content">
					Archived
					<div class="sub header">
						You archived {{countOwnArchivedPracticeProblems topic._id}} practice problems
					</div>
				</div>
			</h3>
			<p>
				If you mistakenly archived a problem,
				you can <i>clone</i> it and then edit and publish the clone.
			</p>
			{{#with findOwnArchivedPracticeProblems topic._id}}
				{{> reactiveTable collection=this settings=makeSettings}}
			{{/with}}
		{{/if}}
	</div>
</template>
