<template name="topicPracticeProblemMenu">
	<div class="ui secondary  menu">
		<a class="{{isActiveRoute "topicUnsolvedPracticeProblemListPage"}} item" href="{{pathFor 'topicUnsolvedPracticeProblemListPage' courseId=courseId topicId=topic._id}}">
			<i class="file outline icon"></i> Unsolved
			<div class="floating ui teal label">{{countUnsolvedPracticeProblems topic._id}}</div>
		</a>
		<a class="{{isActiveRoute "topicSolvedPracticeProblemListPage"}} item" href="{{pathFor 'topicSolvedPracticeProblemListPage' courseId=courseId topicId=topic._id}}">
			<i class="file excel outline icon"></i> Solved
			<div class="floating ui teal label">{{countSolvedPracticeProblems topic._id}}</div>
		</a>
		<a class="{{isActiveRoute "topicOwnPracticeProblemListPage"}} item" href="{{pathFor 'topicOwnPracticeProblemListPage' courseId=courseId topicId=topic._id}}">
			<i class="user icon"></i> Own
			<div class="floating ui teal label">{{countOwnPublishedUnarchivedPracticeProblems topic._id}}/{{countOwnUnarchivedPracticeProblems topic._id}}</div>
		</a>
	</div>
</template>
