<template name="studyTaskPageHeader">
  <div class="ui top attached feature segment">
    <h1 class="ui header">
      {{#if isRegisteredAsInstructor courseId}}
        <div class="top right attached ui blue label">
          <a href="{{pathFor 'studyTaskEditPage' courseId=course._id studyTaskId=studyTask._id}}"><i class="ui edit icon"></i> Edit</a>
        </div>
      {{/if}}
      <i class="circular inverted {{theme.color}} {{theme.icon}} icon"></i>
      <div class="content">
        {{studyTask.title}}
        <div class="sub header">
          Topic
          <a href="{{pathFor 'topicPage' courseId=course._id topicId=topic._id}}">{{topic.title}}</a>
          in theme
          <a href="{{pathFor 'themePage' courseId=course._id themeId=theme._id}}">{{theme.title}}</a>
        </div>
      </div>
    </h1>
  </div>
  <div class="ui attached inverted {{theme.color}} feature segment" style="border-width: 0">
    <div class="ui grid">
      <div class="one wide column">
        <i class="large {{iconForStudyTaskKind studyTask.kind}} icon"></i>
      </div>
      <div class="thirteen wide column">
        <p>
          <strong>{{studyTask.description}}</strong>
        </p>
      </div>
      <div class="two wide column">
        {{#if equals studyTask.kind "Textbook"}}
          {{#if getSumOfDurationsOfRemainingSections studyTask.detail.sectionIds}}
            <i class="clock icon"></i> {{getSumOfDurationsOfRemainingSections studyTask.detail.sectionIds}} min
          {{/if}}
        {{else}}
          {{#if studyTask.duration}}
            <i class="clock icon"></i> {{studyTask.duration}} min
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</template>
