<template name="studyTaskBookSectionItem">
	<div class="item">
		<div class="section-checkbox ui right floated fitted toggle checkbox" data-sectionId="{{_id}}">
			<input type="checkbox">
			<label></label>
		</div>
		<i class="book icon"></i>
		<div class="content">
			<a href="{{pathFor 'sectionPage' courseId=courseId bookId=bookId chapterId=chapterId sectionId=_id}}">Section {{number}}</a>
			<div class="header"><a href="{{pathFor 'sectionPage' courseId=courseId bookId=bookId chapterId=chapterId sectionId=_id}}">{{title}}</a></div>
		</div>
	</div>
</template>
