<!--
context:
this (studentRegistration)
-->
<template name="communityStudentPhotoUploadArea">
  <div class="uploadArea" style="margin: 10px">
    <h3 class="ui header">Drag photo here</h3>
    <p>
      Or, if you prefer...
    </p>
    <p>
      <input class="uploadInput" type="file" style="display:none" multiple/>
      <button class="ui compact primary button uploadButton">Choose file to upload</button>
    </p>
  </div>
</template>
