<template name="topicPassedChecksPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			{{#if isRegisteredAsInstructor courseId}}
				<div class="top right attached ui label">
					<a href="{{pathFor 'topicPrint' courseId=courseId topicId=topic._id}}"><i class="ui print icon"></i> Print &nbsp;&nbsp;12345678</a>
				</div>
				<div class="top right attached ui blue label">
					<a href="{{pathFor 'topicEditPage' courseId=courseId topicId=topic._id}}"><i class="ui edit icon"></i> Edit</a>
				</div>
			{{/if}}
			<i class="circular inverted {{theme.color}} {{theme.icon}} icon"></i>
			<div class="content">
				{{topic.title}}
				<div class="sub header">
					<a href="{{pathFor 'themePage' courseId=courseId themeId=theme._id}}">{{theme.title}}</a>
				</div>
				<div class="sub header">
					Grade: {{topic.masteryRequiredForGrade}}+
				</div>
			</div>
		</h1>
		{{>topicPageMenu}}
		{{#if isOnTeachingTeam courseId}}
			<h2 class="ui dividing header">
				Passed Checks
				<div class="sub header">
					Topic checks passed by students.
				</div>
			</h2>
			<table class="ui table">
				<thead>
					<tr>
						<th>Check</th>
						<th>Student</th>
						<th>Tester</th>
						<th>Feedback</th>
					</tr>
				</thead>
				<tbody>
					{{#each getAllStudentsTopicChecksForTopic topic._id}}
						{{#if mastered}}
							{{>topicCheckRow}}
						{{/if}}
					{{/each}}
				</tbody>
			</table>
		{{/if}}
	</div>
</template>
