<template name="topicListPage">
	<div class="ui top attached feature segment">
		<h1 class="ui header">
			<i class="marker icon"></i>
			<div class="content">
				Topics
				<div class="sub header">
					{{abbreviation}} {{instance}} has
					<a href="{{pathFor "themeListPage" courseId=_id}}">{{getThemeCountForCourse _id}} themes</a>,
					{{getTopicCountForCourse _id}} topics,
					<a href="{{pathFor "skillListPage" courseId=_id}}">{{getSkillCountForCourse _id}} skills</a>
				</div>
			</div>
		</h1>
	</div>
	<div class="ui attached feature segment">
		{{#if getTopicCountForCourse courseId}}
			<table class="ui table">
				<thead>
					<tr>
						<th>Topic</th>
						{{#if isRegisteredAsStudent courseId}}
							<th>% Ready</th>
							<th>Check</th>
						{{/if}}
						{{#if isOnTeachingTeam courseId}}
							<th>Passes</th>
							<th>Fails</th>
							<th>Questions</th>
							<th>Problems</th>
						{{/if}}
						<th class="right aligned collapsing">Grade</th>
					</tr>
				</thead>
				<tbody>
					{{#each getTopicsForCourse _id}}
						{{>topicRow}}
					{{/each}}
				</tbody>
			</table>
		{{else}}
			<h2 class="ui center aligned disabled icon header">
				<i class="marker icon"></i>
				No Topics Yet
				{{#if isRegisteredAsInstructor courseId}}
					<div class="sub header">Edit a theme to create topics</div>
				{{/if}}
			</h2>
		{{/if}}
	</div>
</template>
