<template name="topicStatusPanel">
  {{#if equals topic.status "hidden"}}
    <div class="ui message">
      <div class="header">
        <i class="hide icon"></i> Hidden
      </div>
      <div class="ui grid">
        <div class="twelve wide column">
          <p>
            This topic is hidden and cannot be seen by students.
          </p>
        </div>
        <div class="four wide column">
          <a href="#" class="ui blue button show-button"><i class="unhide icon"></i> Show</a>
        </div>
      </div>
    </div>
  {{else}}
    <!--status is either "showing" or not defined -->
    <div class="ui message">
      <div class="header">
        <i class="unhide icon"></i> Showing
      </div>
      <div class="ui grid">
        <div class="twelve wide column">
          <p>
            This topic can be seen by students.
          </p>
        </div>
        <div class="four wide column">
          <a href="#" class="ui button hide-button"><i class="hide icon"></i> Hide</a>
        </div>
      </div>
    </div>
  {{/if}}
</template>
