<template name="topicQuestionsPage">
	<div class="ui top attached feature segment">
		<h1 class="ui dividing header">
			{{#if isRegisteredAsInstructor courseId}}
				<div class="top right attached ui label">
					<a href="{{pathFor 'topicPrint' courseId=courseId topicId=topic._id}}"><i class="ui print icon"></i> Print &nbsp;&nbsp;12345678</a>
				</div>
				<div class="top right attached ui blue label">
					<a href="{{pathFor 'topicEditPage' courseId=courseId topicId=topic._id}}"><i class="ui edit icon"></i> Edit</a>
				</div>
			{{/if}}
			<i class="circular inverted {{theme.color}} {{theme.icon}} icon"></i>
			<div class="content">
				{{topic.title}}
				<div class="sub header">
					<a href="{{pathFor 'themePage' courseId=courseId themeId=theme._id}}">{{theme.title}}</a>
				</div>
				<div class="sub header">
					Grade: {{topic.masteryRequiredForGrade}}+
				</div>
			</div>
		</h1>
		{{>topicPageMenu}}
		<h2 class="ui dividing header">
			<div class="content">
				Community Questions
				<div class="sub header">
					The community asked {{countQuestionsForTopic topic._id}} questions on this topic.
				</div>
			</div>
		</h2>
		{{#if isRegisteredAsAnything courseId}}
			{{#if countQuestionsForTopic topic._id}}
				{{#with getQuestionsForTopic topic._id}}
					{{>reactiveTable collection=this settings=makeSettings}}
				{{/with}}
			{{else}}
				<p>
					There are no questions yet on this topic.
				</p>
				<div class="ui message">
					To ask a question about something, pick
					<strong><i class="help icon"></i>Add Question</strong>
					from a
					<i class="remove bookmark icon"></i>dropdown menu
					in the margin of a page (e.g., in the various
					<a href="{{pathFor 'labListPage' _id=_id}}">lab pages</a>).
				</div>
			{{/if}}
		{{/if}}
	</div>
</template>
