<template name="fileOwnerCell">
  {{#if metadata}}
    {{#if metadata.ownerId}}
      {{#with getUser metadata.ownerId}}
        {{> userStatusLabel user=this courseId=../courseId}}
      {{else}}
        {{metadata.ownerId}}
      {{/with}}
    {{else}}
      <i>No owner</i>
    {{/if}}
  {{else}}
    <i>No owner, no metadata</i>
  {{/if}}
</template>
