<template name="fileLabItemCell">
  <a href="{{pathFor 'labTeamGradingPage' courseId=metadata.courseId labId=metadata.labId teamId=metadata.labTeamId}}#item_{{metadata.labItemId}}">
    {{#with getContentItem metadata.labItemId}}
      {{index}}
    {{/with}}
  </a>
</template>
