<template name="syllabusPage">
	<div class="ui top attached feature segment">
		<h1 class="ui header">
			<i class="protect icon"></i>
			<div class="content">
				Syllabus
				<div class="sub header">
					Contract between teaching team and students of {{abbreviation}} {{instance}}
				</div>
			</div>
		</h1>
		{{#if isRegisteredAsInstructor courseId}}
			<div class="top right attached ui blue label">
				<a href="{{pathFor 'syllabusEditPage' courseId=_id}}"><i class="ui edit icon"></i> Edit</a>
			</div>
		{{/if}}
	</div>
	<div class="ui attached feature segment">
		{{#if syllabus}}
			{{#markdownFix}}{{syllabus}}{{/markdownFix}}
		{{else}}
			<h2 class="ui center aligned disabled icon header">
			  <i class="protect icon"></i>
			  No Syllabus Yet
				{{#if isRegisteredAsInstructor courseId}}
					<div class="sub header">Edit to create one</div>
				{{/if}}
			</h2>
		{{/if}}
	</div>
</template>
