<template name="quizRunPage">
	{{#if quiz.ongoing}}
		<div class="ui top attached feature segment">
			<h1 class="ui dividing header">
				<i class="red checkmark box icon"></i>
				<div class="content">
					{{quiz.title}}
					<div class="sub header">{{quiz.description}}</div>
				</div>
			</h1>
	    <div class="ui grid">
				<div class="four wide column">
					Start time: <strong>{{formatTime quiz.startDate}}</strong>
				</div>
				<div class="four wide column">
	        Duration: <strong>{{quiz.duration}} minutes</strong>
	      </div>
				<div class="eight wide right aligned column">
					Started by:
					{{#with getUser quiz.startedBy}}
						{{#if this}}
							{{>userStatusLabel user=this courseId=../course._id}}
						{{/if}}
					{{/with}}
				</div>
	    </div>
	    <h2 class="ui dividing header">
	      <div class="content">
	        Add Students
	        <div class="sub header">
						{{countStudents course._id}} Students;
						{{countFreshAttempts quiz._id quiz.startDate}} added,
						{{countOngoingAttempts quiz._id quiz.startDate}} ongoing,
						{{countFinishedAttempts quiz._id quiz.startDate}} finished
					</div>
	      </div>
	    </h2>
	    <p>
	      Teaching team members have to add each student who is physically present in the classroom
	      to allow them to take the quiz.
	      This prevents students from taking the quiz remotely without supervision.
	    </p>
			<div class="ui six cards">
				{{#each getStudentUsers course._id}}
					{{> quizRunStudentCard user=this courseId=../course._id quiz=../quiz}}
				{{/each}}
			</div>
		</div>
		<div class="ui attached feature segment">
	    <p>
	      <button class="stop-quiz-button red ui icon button"><i class="stop icon"></i> Stop Quiz Prematurely</button>
	    </p>
	  </div>
	{{else}}
		<div class="ui top attached feature segment">
			<h1 class="ui dividing header">
				<i class="red checkmark box icon"></i>
				<div class="content">
					{{quiz.title}}
					<div class="sub header">{{quiz.description}}</div>
				</div>
			</h1>
			<p>
				Quiz is not ongoing.
			</p>
		</div>
	{{/if}}
</template>
