<!--
	arguments: {ofCourseId, ofStudentId, ofTesterId, ongoing}
	Note that student or tester or both may be falsy.
  -->
<template name="masteryCheckTable">
	{{#if countMasteryChecks ofCourseId ofStudentId ofTesterId ongoing}}
		<table class="ui table">
			<thead>
				<tr>
					<th class="collapsing">Check</th>
					{{#unless ofStudentId}}
						<th class="collapsing">Student</th>
					{{/unless}}
					{{#unless ofTesterId}}
						<th class="collapsing">Tester</th>
					{{/unless}}
					<th class="collapsing">Duration</th>
					<th>Topics</th>
				</tr>
			</thead>
			<tbody>
				{{#each getMasteryChecks ofCourseId ofStudentId ofTesterId ongoing}}
					<tr>
						<td>
							<a href="{{pathFor 'newMasteryCheckPage' courseId=courseId masteryCheckId=_id}}">
								<strong>
									Week {{formatWeekInCourse courseId startDate}}<br>
									{{formatWeekday startDate}}<br>
								</strong>
								{{formatTime startDate}}
							</a>
						</td>
						{{#unless ../ofStudentId}}
							<td>
								{{#if studentIds}}
									{{#each studentIds}}
										{{#with getUser .}}
											{{> userStatusLabel user=this courseId=courseId}}
										{{/with}}
									{{/each}}
								{{else}}
									{{#with getUser studentId}}
										{{> userStatusLabel user=this courseId=../courseId}}
									{{/with}}
								{{/if}}
							</td>
						{{/unless}}
						{{#unless ../ofTesterId}}
							<td>
								{{#with getUser testerId}}
									{{> userStatusLabel user=this courseId=../courseId}}
								{{/with}}
							</td>
						{{/unless}}
						<td class="right aligned">
							{{getDurationInMinutes startDate endDate}}&nbsp;min
						</td>
						<td>
							<div class="ui divided list">
								{{#each getTopicChecksByMasteryCheck _id}}
									<div class="item">
										{{#if mastered}}
											<div class="right floated"><i class="trophy icon"></i> Mastered</div>
										{{else}}
											<div class="right floated ui label">not yet mastered</div>
										{{/if}}
										{{#with getTopic topicId}}
											{{#with getTheme themeId}}
												<i class="circular inverted {{color}} {{icon}} icon"></i>
											{{/with}}
										{{/with}}
											<div class="content">
											{{#with getTopic topicId}}
												<a href="{{pathFor "topicPage" courseId=courseId topicId=_id}}">{{title}}</a>
											{{/with}}
										</div>
									</div>
								{{/each}}
							</div>
						</td>
					</tr>
				{{else}}
					<tr>
						<td colspan="4">
							No mastery checks yet.
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	{{else}}
		<h2 class="ui center aligned disabled icon header">
			<i class="trophy icon"></i>
			No Mastery Checks Yet
			{{#if isOnTeachingTeam courseId}}
				<div class="sub header">Run a mastery check session</div>
			{{else}}
				<div class="sub header">Prepare one and attend the next session</div>
			{{/if}}
		</h2>
	{{/if}}
</template>
