<template name="masteryCheckOngoingListPage">
	{{>masteryCheckListPageHeader}}
	{{>masteryCheckListPageMenu}}
	<div class="ui attached feature segment">
		{{#if isOnTeachingTeam courseId}}
			<h3 class="ui header">
				<div class="content">All Ongoing Checks</div>
			</h3>
			{{> masteryCheckTable ofCourseId=_id ofStudentId=undefined ofTesterId=undefined ongoing=true}}
    {{/if}}
	</div>
</template>
