<template name="labItem">
	<div class="ui basic {{#if hasOwnBookmark _id}}tertiary inverted red{{/if}} segment" id="item_{{_id}}">
		<div class="ui grid">
			<div class="fifteen wide column">
				{{>labItemContents}}
			</div>
			<div class="one wide column">
				{{#if isRegisteredAsAnything courseId}}
					{{>annotationButton contentItemId=_id}}
				{{/if}}
			</div>
		</div>
		{{#if hasAnnotationsToDisplay _id}}
			<div class="ui right attached annotation rail">
				{{#each getOwnAnnotations _id}}
					{{> annotation }}
				{{/each}}
				{{#each getOtherQuestions _id}}
					{{> annotation }}
				{{/each}}
			</div>
		{{/if}}
	</div>
</template>
