<template name="labListPageMenu">
  {{#if isOnTeachingTeam courseId}}
    <div class="ui attached feature segment">
    	<div class="ui secondary  menu">
        <a class="{{isActiveRoute "labListPage"}} item" href="{{pathFor 'labListPage' courseId=courseId}}">
          <i class="home icon"></i> Show
        </a>
        <a class="{{isActiveRoute "labListOutcomePage"}} item" href="{{pathFor 'labListOutcomePage' courseId=courseId}}">
          <i class="bar chart icon"></i> Outcome
        </a>
    	</div>
    </div>
  {{/if}}
</template>
