<template name="labListOutcomePage2">
	{{>labListPageHeader}}
	{{>labListPageMenu}}
  <div class="ui attached feature segment">
    <table class="ui table">
      <thead>
        <tr>
          <th>Lab:</th>
          {{#each getPastLabs course._id}}
            <th><a href="{{pathFor 'labOutcomePage' courseId=courseId labId=_id}}">{{title}}</a></th>
          {{/each}}
        </tr>
        <tr>
          <th>Max Score:</th>
          {{#each getPastLabs course._id}}
            <th>{{computeMaxOverallScore _id}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each getApprovedNotWithdrawnUsers course._id}}
          <tr>
            <td>{{> userStatusLabel user=this courseId=../course._id}}</td>
            {{#each getPastLabs course._id}}
              {{#with getLabTeam _id ../_id}}
                <td>{{computeOverallScore ../_id _id}}</td>
              {{else}}
                <td></td>
              {{/with}}
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
