<template name="labPageMenu">
  {{#if isOnTeachingTeam courseId}}
		<div class="ui attached feature segment">
			<div class="ui secondary  menu">
				<a class="{{isActiveRoute "labPage"}} item" href="{{pathFor 'labPage' courseId=courseId labId=lab._id}}">
					<i class="home icon"></i> Show
				</a>
				<a class="{{isActiveRoute "labReferenceSolutionPage"}} item" href="{{pathFor 'labReferenceSolutionPage' courseId=courseId labId=lab._id}}">
					<i class="map icon"></i> Ref
				</a>
				<a class="{{isActiveRoute "labRubricPage"}} item" href="{{pathFor 'labRubricPage' courseId=courseId labId=lab._id}}">
					<i class="resize vertical icon"></i> Rubric
				</a>
				<a class="{{isActiveRoute "labTeamsPage"}} item" href="{{pathFor 'labTeamsPage' courseId=courseId labId=lab._id}}">
					<i class="group icon"></i> Teams
				</a>
				<a class="{{isActiveRoute "labGradingPage|labTeamGradingPage|labItemGradingPage"}} item" href="{{pathFor 'labGradingPage' courseId=courseId labId=lab._id}}">
					<i class="trophy icon"></i> Grading
				</a>
				<a class="{{isActiveRoute "labOutcomePage"}} item" href="{{pathFor 'labOutcomePage' courseId=courseId labId=lab._id}}">
					<i class="bar chart icon"></i> Outcome
				</a>
				<a class="{{isActiveRoute "labFeedbackPage"}} item" href="{{pathFor 'labFeedbackPage' courseId=courseId labId=lab._id}}">
					<i class="announcement icon"></i> Feedback
				</a>
			</div>
		</div>
  {{/if}}
</template>
