<template name="labSubmissionUploadArea">
  <!--
  <div class="ui center aligned secondary blue segment fileDrop">
    <h3 class="ui header">Drag files here</h3>
    <p>
      Or, if you prefer...
    </p>
    <p>
      <button class="ui compact primary button fileBrowse">Choose files to upload</button>
    </p>
  </div>
  -->
  {{#if isRegisteredAsAnything courseId}}
    {{#if labOpen}}
      <div class="ui center aligned secondary blue segment uploadArea">
        <h3 class="ui header">Drag files here</h3>
        <p>
          Or, if you prefer...
        </p>
        <p>
          <input class="uploadInput" type="file" style="display:none" multiple/>
          <button class="ui compact primary button uploadButton">Choose files to upload</button>
        </p>
      </div>
    {{else}}
      <div class="ui message">
        <div class="header">Lab Not Open</div>
        <p>
          This lab is not open. You cannot modify your submission.
        </p>
      </div>
    {{/if}}
  {{else}}
    {{>labLoginAndRegisterMessage}}
  {{/if}}
</template>
