<template name="labStatusPanel">
  <div class="ui attached icon message">
    {{#if equals lab.status "hidden"}}
      <i class="hide icon"></i>
      <div class="content">
        <h4 class="ui header">
          Hidden
        </h4>
        <p>
          This lab is hidden and cannot be seen by students.
        </p>
        <a href="#" class="ui blue button show-as-preview-button"><i class="unhide icon"></i> Show as Preview</a>
      </div>
    {{else}}
      {{#if equals lab.status "open"}}
        <i class="unlock icon"></i>
        <div class="content">
          <h4 class="ui header">
            Open
          </h4>
          <p>
            This lab is open, students can submit their answers.
          </p>
          <a href="#" class="ui blue button close-button"><i class="lock icon"></i> Close</a>
          <a href="#" class="ui button hide-button"><i class="hide icon"></i> Hide</a>
        </div>
      {{else}}
        {{#if equals lab.status "closed"}}
          <i class="lock icon"></i>
          <div class="content">
            <h4 class="ui header">
              Closed
            </h4>
            <p>
              This lab is closed. Students can still see it, and they can see their answers,
              but they cannot update their answers anymore.
            </p>
            <a href="#" class="ui button reopen-button"><i class="unlock icon"></i> Reopen</a>
            <a href="#" class="ui button hide-button"><i class="hide icon"></i> Hide</a>
          </div>
        {{else}}
          <!--status is either "preview" or not defined -->
          <i class="unhide icon"></i>
          <div class="content">
            <h4 class="ui header">
              Showing as Preview
            </h4>
            <p>
              This lab can be seen by students, but they cannot submit anything yet.
              Previewing a lab like this allows students to see what's coming up,
              while allowing the instructor to make changes
              without any risk of invalidating student submissions.
            </p>
            <a href="#" class="ui blue button open-button"><i class="unlock icon"></i> Open</a>
            <a href="#" class="ui button hide-button"><i class="hide icon"></i> Hide</a>
          </div>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</template>
