<template name="labSubmissionFileList">
  <table class="ui very basic compact table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Owner</th>
        <th>Uploaded</th>
        <th>Size</th>
        <th class="collapsing"></th>
      </tr>
    </thead>
    <tbody>
      {{#each getLabSubmissionFiles}}
        <tr>
          <td>
            <a href="{{link}}?download=true">{{shorten filename 56}}</a>
          </td>
          <td>
            {{#if owner}}
              {{#with getUser owner}}
                {{> userStatusLabel user=this courseId=../../courseId}}
              {{/with}}
            {{else}}
              <i>No owner</i>
            {{/if}}
          </td>
          <td>
            {{formatDateTime uploadDate}}
          </td>
          <td class="text-right">
            {{#if length}}
              {{formattedLength}}
            {{else}}
              {{uploadStatus}}
              <br>
              {{uploadProgress}}%
            {{/if}}
          </td>
          <td class="collapsing">
            {{#if labOpen}}
              <button class="ui compact small red icon button del-file" aria-label="Delete"><i class="remove icon"></i></button>
            {{/if}}
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="6">You have not yet uploaded any files.</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>
