<template name="labTeamGradingPage">
	<div class="ui top attached feature segment">
		<h1 class="ui header">
			<i class="lab icon"></i>
			<div class="content">
				{{lab.title}}
				<div class="sub header">{{lab.description}}</div>
			</div>
		</h1>
	</div>
	{{>labPageMenu}}
	<div class="ui attached feature segment">
		{{#if isOnTeachingTeam courseId}}
			<a href="{{pathFor 'labGradingPage' courseId=courseId labId=lab._id}}">Back to lab grading page</a>
      <h2>
				Grade Team
				{{#each team.memberIds}}
					{{#with getUser this}}
						{{> userStatusLabel user=this courseId=../../courseId}}
					{{/with}}
				{{/each}}
			</h2>
			<p>
	      Once you have a reference solution and grading rubrics, you come here to grade.
	      Distribute points according to your rubrics.
	      You can adjust your rubric items here (improve names, change points),
	      and you can even add new items if needed.
	      If you need to make more extensive changes to your rubrics,
	      you need to do that on the rubric page.
	    </p>
	    <p>
	      You can provide additional comments, and you can adjust the points
	      (just enter a positive or negative number).
	      Ideally your rubrics are so clear and complete
	      that it's rarely necessary to add extra comments or adjust points.
	    </p>
		{{/if}}
	</div>
	{{#if isOnTeachingTeam courseId}}
	  {{#each getQuestionItems lab._id}}
			<div class="ui attached feature segment">
				<a class="ui top left attached blue label" href="/course/{{../course._id}}/lab/{{../lab._id}}/reference#item_{{_id}}">
          <i class="external square icon"></i> Go to item {{index}} in the reference solution
        </a>
        <h3 class="ui header">
          Item {{index}}
        </h3>
        <div id="item_{{_id}}">
      		<div class="ui grid">
      			<div class="ten wide column">
							{{#if equals type "textarea"}}
								<div class="ui blue message">
									<div class="header">
										<i class="bordered inverted blue question icon"></i>
										Question
									</div>
									{{#markdownFix}}{{text}}{{/markdownFix}}
									<form class="ui form">
										{{#with getTeamSubmission ../team._id}}
											{{#with ..}}
												<textarea readonly class="question-field" style='{font-family: monospace}'>{{../value}}</textarea>
											{{/with}}
											<p>
												Last submitted {{formatDateTime modificationDate}} by
												{{#with getUser submitterId}}
													{{> userStatusLabel user=this courseId=../../courseId}}
												{{/with}}
											</p>
										{{else}}
											<div class="ui center aligned secondary segment">
			                  <p>&nbsp;</p>
			                  <p>No Solution Submitted</p>
			                  <p>&nbsp;</p>
			                </div>
										{{/with}}
									</form>
								</div>
							{{else}}
								{{#if countLabSubmissionFiles ../team._id _id}}
									{{#if countLabSubmissionImageFiles ../team._id _id}}
	                  {{#each getLabSubmissionImageFiles ../team._id _id}}
	                    <a target="_blank" href="{{link}}" class="ui fluid image">
	                      <img src="{{link}}">
	                    </a>
	                  {{/each}}
	                {{/if}}
	                <table class="ui very basic compact table">
	                  <tbody>
	                    {{#each getLabSubmissionFiles ../team._id _id}}
	                      <tr>
	                        <td>
	                          <a href="{{link}}?download=true">{{shortFilename 56}}</a>
	                        </td>
	                        <td>
	                          {{#if owner}}
	                            {{#with getUser owner}}
	                              {{> userStatusLabel user=this courseId=../../courseId}}
	                            {{/with}}
	                          {{else}}
	                            <i>No owner</i>
	                          {{/if}}
	                        </td>
	                        <td>
	                          {{formatDateTime uploadDate}}
	                        </td>
	                        <td class="text-right">
	                          {{#if length}}
	                            {{formattedLength}}
	                          {{else}}
	                            (incomplete)
	                          {{/if}}
	                        </td>
	                      </tr>
	                    {{/each}}
	                  </tbody>
	                </table>
	              {{else}}
	                <div class="ui center aligned secondary segment">
	                  <p>&nbsp;</p>
	                  <p>No Files Uploaded</p>
	                  <p>&nbsp;</p>
	                </div>
	              {{/if}}
							{{/if}}
      			</div>
      			<div class="six wide column">
							{{>scoreEditPane contentItem=this team=../team}}
      			</div>
      		</div>
      	</div>
			</div>
    {{/each}}
	{{/if}}
</template>
