<template name="rubricEditPane">
  {{#if hasRubric _id}}
    {{#with getRubric _id}}
      {{#each getRubricCategories _id}}
        {{>rubricCategoryEditPane}}
      {{/each}}
      <div class="ui fluid small compact button add-rubric-category-button"><i class="plus icon"></i>Add Rubric Category</div>
    {{/with}}
  {{else}}
    <div class="ui fluid small compact primary button create-rubric-button"><i class="plus icon"></i>Create Rubric</div>
  {{/if}}
</template>
