<template name="scoreCategoryEditPane">
  {{#unless equals name ""}}
    <div class="ui header" style="margin: 0px">{{name}}</div>
  {{/unless}}
  <div class="ui header" style="margin: 0px">
    {{computePoints this ../../team._id}} / {{maxPoints}} Points
    &nbsp;&nbsp;<span class="sub header">{{#if additive}}Additive{{else}}Subtractive{{/if}}</span>
  </div>
  <div class="ui items">
    {{#each getRubricItems _id}}
      {{>scoreItemEditPane}}
    {{/each}}
  </div>
  <div class="ui fluid small compact button add-rubric-item-button" style="margin-bottom: 15px;"><i class="plus icon"></i>Add Rubric Item</div>
</template>
