<template name="scoreEditPane">
  {{#if hasRubric contentItem._id}}
    {{#with getRubric contentItem._id}}
      {{#with getContentItemScore ../contentItem._id ../team._id}}
        {{#if multipleCateogoriesOrPointAdjustment .. pointAdjustment}}
          <div class="ui header" style="margin: 0 0 15px 0;">
            {{computeRubricPoints .. ../../team._id}}
            /
            {{computeMaxRubricPoints .. }}
            Points Total
            {{#if pointAdjustment}}
              &nbsp;&nbsp;<span class="sub header">Adjusted</span>
            {{/if}}
          </div>
        {{/if}}
      {{/with}}
      {{#each getRubricCategories _id}}
        {{>scoreCategoryEditPane}}
      {{/each}}
    {{/with}}
    {{#with getContentItemScore contentItem._id team._id}}
      <div class="ui form">
        <div class="field">
          <label>Point Adjustment:</label>
          <div class="ui mini input">
            <input class="point-adjustment-input" type="text" placeholder="+/-points" value="{{pointAdjustment}}">
          </div>
        </div>
        <div class="field">
          <label>Comment:</label>
          <div class="ui mini input">
            <textarea class="comment-input" rows="1">{{comment}}</textarea>
          </div>
        </div>
      </div>
    {{/with}}
  {{else}}
    <p>
      <a href="/course/{{contentItem.courseId}}/lab/{{contentItem.containerId}}/rubric#item_{{contentItem._id}}">Create a rubric</a>
      before grading.
    </p>
  {{/if}}
</template>
